<header id="header" class="site-header">
    <div class="inner-header outer">

		<a id="logo" href="/" title="{{ global:title }} | Home">
			{{ theme:output src="svg/logo.svg" }}
        </a>

        <div class="filler"></div>

        <div class="static-nav gutter">
			<nav class="nav header__nav">
			{{ nav }}

				<a class="link nav__link" href="{{ url }}">{{ title }}</a>
				
			{{ /nav }}
			</nav>
		</div> <!-- END static-nav -->
		
		<div class="drawer-nav">
			<div class="inner-nav">
				<nav class="header__nav">
				{{ nav }}

					<a href="{{ url }}">{{ title }}</a>
						
				{{ /nav }}
				</nav>

				{{ if global:phone and global:email }}
				<div class="contact-links">
					{{ if global:phone }}
					<a class="phone-link" href="tel:{{ global:phone }}">
						<span class="icon">{{ theme:output src="svg/icon-phone.svg" }}</span>
						<span class="text">{{ global:phone }}</span>
					</a>
					{{ /if }}
					{{ if global:email }}
					<a class="email-link" href="mailto:{{ global:email }}">
						<span class="icon">{{ theme:output src="svg/icon-at.svg" }}</span>
						<span class="text">Email Us</span>
					</a>
					{{ /if }}
				</div>
				{{ /if }}
			</div>
		</div> <!-- END drawer-nav -->
		
		<button class="nav-button" trigger="navigation">
			<div class="dots">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="close-x">
				<span></span>
				<span></span>
			</div>
		</button> <!-- END nav-button -->

    </div> <!-- END inner-header -->
</header> <!-- END #header -->