{{ partial src="heros/_hero" }}

<section class="frame gutter">
	<div class="wrapper">
	
		<div class="contact-form">
			{{ form:create in="contact" formset="contact" }}

				{{ if success }}
				<div class="form_message_success mar-b-2">Your Message has been sent!</div>
				{{ /if }}

				{{ if errors }}
				<div class="form_message_error mar-b-2">{{ errors | list }}</div>
				{{ /if }}
				
				<label for="name">
					<input type="text" name="name" placeholder="Your Name" />
				</label>

				<label for="email">
					<input type="text" name="email" placeholder="Your Email" />
				</label>

				<label for="message">
					<textarea name="message" placeholder="Your Message"></textarea>
				</label>

				<label for="submit">
					<button type="submit">Submit</button>
				</label>
		
			{{ /form:create }}
		</div> <!-- END contact-form -->

		<div class="frame frame--top newsletter-form">
			{{ form:create in="newsletter" redirect="/contact/newsletter-success" }}

				{{ if errors }}
				<div class="form_message_error mar-b-2">{{ errors | list }}</div>
				{{ /if }}

				<div class="single-form">
					<label for="email" class="single-form__label">
						<input class="single-form__input" type="text" name="email" placeholder="email" />
					</label>
				
					<label for="submit" class="single-form__label">
						<button class="single-form__submit btn" type="submit">Submit</button>
					</label>
				</div>
		
			{{ /form:create }}
		</div> <!-- END newsletter-form -->

	</div>
</section> <!-- END forms -->