<div id="{{ modal_id }}" class="modal-wrapper modal-closed">
	<div class="modal-overlay" trigger="modal-close"></div>
	<div class="modal">
		<button class="modal-close-button" trigger="modal-close"></button>
		<div class="modal-inner test-fill">
			<span>{{ modal_id }}</span>
			{{ modal_content }}
		</div>
	</div>
</div>