<modal trigger-class="btn">
	<template slot="modal-trigger">
		{{ modal_content }}
	</template>
	<template slot="modal-content">
		<div class="pad-8">
			<h4>{{ modal_content }}</h4>
		</div>
	</template>
</modal>