{{ paginate }}
<nav class="pagination">

	{{ if prev_page }}
		<a class="pagination__item pagination__link" href="{{ prev_page }}">
			{{ theme:output src="img/svg/icon-arrow-left.svg" }}
		</a>
	{{ else }}
		<span class="pagination__item pagination__disabled">
			{{ theme:output src="img/svg/icon-arrow-left.svg" }}
		</span>
	{{ /if }}

	{{ links:segments }}

		{{ first }}
			{{ if page == current_page }}
				<span class="pagination__item pagination__active">{{ page }}</span>
			{{ else }}
				<a class="pagination__item pagination__link" href="{{ url }}">{{ page }}</a>
			{{ /if }}
		{{ /first }}

		{{ if slider }}
			<span class="pagination__item pagination__disabled">...</span>
		{{ /if }}

		{{ slider }}
			{{ if page == current_page }}
				<span class="pagination__item pagination__active">{{ page }}</span>
			{{ else }}
				<a class="pagination__item pagination__link" href="{{ url }}">{{ page }}</a>
			{{ /if }}
		{{ /slider }}

		{{ if slider || (!slider && last) }}
			<span class="pagination__item pagination__disabled">...</span>
		{{ /if }}

		{{ last }}
			{{ if page == current_page }}
				<span class="pagination__item pagination__active">{{ page }}</span>
			{{ else }}
				<a class="pagination__item pagination__link" href="{{ url }}">{{ page }}</a>
			{{ /if }}
		{{ /last }}

	{{ /links:segments }}

	{{ if next_page }}
		<a class="pagination__item pagination__link" href="{{ next_page }}">
			{{ theme:output src="img/svg/icon-arrow-right.svg" }}
		</a>
	{{ else }}
		<span class="pagination__item pagination__disabled">
			{{ theme:output src="img/svg/icon-arrow-right.svg" }}
		</span>
	{{ /if }}

</nav>
{{ /paginate }}