/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| BASE: Body
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	@include fluid-type(font-size, $min-width, $max-width, $font-min, $font-max);
}

body {
	overflow-x: hidden;
	background-color: white;
	line-height: 1;
	font-size: $font-size;
	font-weight: normal;
	font-family: $copy-font;
	text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	color: $text-color;

	// Firefox only
	scroll-behavior: smooth;
}

.scrollable {
	overflow-x: hidden;
	overflow-y: scroll;
}

.scroll-lock {
	overflow: hidden !important;
}

#site {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#container {
	flex: 1;
	overflow: hidden;
}

#header {
	position: relative;
	z-index: 3;
}

#main {
	position: relative;
	z-index: 2;
}

#footer {
	position: relative;
	z-index: 1;
}