/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| BASE: Forms 
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

form {
	display: block;
	max-width: $text-max;
}

br,
.break {
	display: block;
	margin: 1rem 100% 0 0;
	content: '';
}

label,
.label {
	white-space: nowrap;
	text-transform: uppercase;
	font-family: $link-font;
	font-size: 0.8rem;
}

label[for] {
	display: inline-flex;
	align-items: center;
	position: relative;
	cursor: pointer;
}

input,
select,
textarea,
fieldset,
.input {
	display: block;
	margin: 0;
	outline: none;
	box-shadow: none;
	border: 2px solid darken($white, 6%);
	border-radius: $round;
	background-color: darken($white, 2%);
	width: 100%;
	padding: 0.5em 0.8em;
	line-height: 1;
	font-size: $font-size;
	color: $text-color;
	transition: border 300ms ease-in-out,
				background-color 300ms ease-in-out;

	&::placeholder {
		opacity: 0.3;
		color: inherit;
	}

	&:focus,
	&:active {
		border-color: $link-hover;
		background-color: darken($white, 1.5%);
	}
}

.input--override {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

input[readonly],
fieldset {
	&:focus,
	&:active {
		border-color: darken($white, 6%);
		background-color: darken($white, 2%);
	}
}

legend {
	padding: 0 0.4em;
	margin: 0 -0.4em;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

textarea {
	height: 12em;
	resize: vertical;
	line-height: 1.4;
}

input[type="number"] {
	-moz-appearance: textfield;
	
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
	}
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
	}
}

input[type="color"] {
	height: 2.2em;
	padding: 0.1em;
	cursor: pointer;
}

input[type="checkbox"] {
	display: inline-block;
	width: unset;
	cursor: pointer;
}

input[type="radio"] {
	display: inline-block;
	width: unset;
	cursor: pointer;
}

input[type="range"] {
	cursor: pointer;
}

input[type="file"] {
	cursor: pointer;
}