<div class="video-row">
{{ videos }}

    {{ if type == "video" }}
    <video-modal video="{{ video_url }}" class="video-card">
		<div slot="video-title" class="video-title">
			<h3>{{ video_title }}</h3>
		</div>
	</video-modal>
    {{ /if }}

{{ /videos }}
</div>
