/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| COMPONENTS: Site Footer 
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

/* ===== VARIABLES ===== */


/* ===== LAYOUT ===== */

.footer {
	position: relative;
    background-color: $primary-dark;
    color: $white;

    &__inner {
		position: relative;
	}
	
	/* === NAVIGATION === */
	&__nav {
		max-width: $text-max;

		.nav__link {
			color: inherit;
		}
	}

	/* ===== RESPONSIVE ===== */

	/* === BELOW MOBILE === */
	@include below(mobile) {
		&__nav {
			flex-flow: column;
			align-items: center;
			margin: 0;
		}

		.copyright {
			text-align: center;
		}
	}

	/* === BELOW TABLET === */
	@include below(tablet) {
		.copyright {
			span {
				display: block;
				line-height: 1.6;
			}
		}
	}
}

/* ===== COMPONENTS ===== */

/* === SCROLL TO TOP BUTTON === */

// Scroll To Top Size
$stt-size: 4rem;

.scroll-to-top {
	display: flex;
	position: absolute;
	top: 0;
    right: 0;
    width: 1em;
    height: 1em;
    padding: 0.25em;
    font-size: $stt-size;
    background-color: $white;
    fill: $link-color;
}

/* === COPYRIGHT === */
.copyright {
    a {
		font-size: inherit;
		color: inherit;
    }
}