/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| COMPONENTS: Navigation 
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.nav {
	display: flex;
	flex-flow: row wrap;
	margin: -0.5em;

    &__link {
        display: block;
		padding: 0.5em;
		line-height: 1;
		letter-spacing: 2px;
		font-family: $link-font;
		font-weight: bold;
        text-transform: uppercase;
        color: $text-color;
    }
}