<header id="header" class="site-header">
    <div class="inner-header outer">

		<a id="logo" href="/" title="{{ site_title }} | Home">
			{{ theme:output src="img/svg/logo.svg" }}
        </a>

        <div class="filler"></div>

        <div class="static-nav gutter">
			<nav class="site-nav site-header-nav">
			{{ nav from="/" limit="4" }}

				<a href="{{ url }}">{{ title }}</a>
				
			{{ /nav }}
			</nav>
		</div> <!-- END static-nav -->
		
		<div class="drawer-nav">
			<div class="inner-nav">
				<nav class="site-header-nav">
				{{ nav from="/" }}

					<a href="{{ url }}">{{ title }}</a>
						
				{{ /nav }}
				</nav>

				{{ if site_phone and site_email }}
				<div class="contact-links">
					{{ if site_phone }}
					<a class="phone-link" href="tel:{{ site_phone }}">
						<span class="icon">{{ theme:output src="img/svg/icon-phone.svg" }}</span>
						<span class="text">{{ site_phone }}</span>
					</a>
					{{ /if }}
					{{ if site_email }}
					<a class="email-link" href="mailto:{{ site_email }}">
						<span class="icon">{{ theme:output src="img/svg/icon-at.svg" }}</span>
						<span class="text">Email Us</span>
					</a>
					{{ /if }}
				</div>
				{{ /if }}
			</div>
		</div> <!-- END drawer-nav -->
		
		<button class="nav-button" trigger="navigation">
			<div class="dots">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="close-x">
				<span></span>
				<span></span>
			</div>
		</button> <!-- END nav-button -->

    </div> <!-- END inner-header -->
</header> <!-- END #header -->