{{ partial src="heros/_hero" }}

<section class="frame gutter">
	<div class="wrapper transcription">

		<div class="accordion">
			<div class="accordion-header" trigger="collapsible"><h3 class="link">Hidden summary</h3></div>
			<div class="collapsible">
				<div class="accordion mar-l mar-t">
					<h3>Hidden summary</h3>
					<div class="collapsible">
						<p>Praesent non velit augue. Cras eu tempor lectus. Nunc sit amet condimentum risus. Vivamus ac magna urna. Pellentesque varius purus a auctor hendrerit. Quisque rhoncus sed urna in hendrerit. Donec at aliquam neque. Nunc gravida placerat urna non pretium.</p>
					</div>
					<button class="read-more mar-t-2" trigger="collapsible">read more</button>
					<hr>
				</div>
				<div class="accordion mar-l">
					<h3>Hidden summary</h3>
					<div class="collapsible">
						<p>Praesent non velit augue. Cras eu tempor lectus. Nunc sit amet condimentum risus. Vivamus ac magna urna. Pellentesque varius purus a auctor hendrerit. Quisque rhoncus sed urna in hendrerit. Donec at aliquam neque. Nunc gravida placerat urna non pretium.</p>
					</div>
					<button class="read-more mar-t-2" trigger="collapsible">read more</button>
					<hr>
				</div>
				<div class="accordion mar-l">
					<h3>Hidden summary</h3>
					<div class="collapsible">
						<p>Praesent non velit augue. Cras eu tempor lectus. Nunc sit amet condimentum risus. Vivamus ac magna urna. Pellentesque varius purus a auctor hendrerit. Quisque rhoncus sed urna in hendrerit. Donec at aliquam neque. Nunc gravida placerat urna non pretium.</p>
					</div>
					<button class="read-more mar-t-2" trigger="collapsible">read more</button>
					<hr>
				</div>
			</div>
			<hr>
		</div>

		<div class="accordion mar-t">
			<h3>Hidden summary</h3>
			<div class="collapsible">
				<p>Praesent non velit augue. Quisque rhoncus sed urna in hendrerit. Donec at aliquam neque. Nunc gravida placerat urna non pretium.</p>
			</div>
			<button class="read-more mar-t-2" trigger="collapsible">read more</button>
			<hr>
		</div>

		<div class="accordion mar-t">
			<h3>Hidden summary</h3>
			<div class="collapsible">
				<p>Praesent non velit augue. Cras eu tempor lectus. Nunc sit amet condimentum risus. Vivamus ac magna urna. Pellentesque varius purus a auctor hendrerit. Quisque rhoncus sed urna in hendrerit. Donec at aliquam neque. Nunc gravida placerat urna non pretium. Pellentesque varius purus a auctor hendrerit. Quisque rhoncus sed urna in hendrerit. Donec at aliquam neque. Nunc gravida placerat urna non pretium.</p>
			</div>
			<button class="read-more mar-t-2" trigger="collapsible">read more</button>
			<hr>
		</div>
		
	</div>	
</section> <!-- END content -->