{{ partial src="heros/_hero" }}

{{ sections }}

	{{ partial src="sections/_{type}" }}

{{ /sections }}

<section class="frame gutter">
	<div class="wrapper">

		<div class="auto-wrap">
			<a class="auto-wrap__item btn" href="/{{ slug }}/typography">
				typography
			</a>
			<a class="auto-wrap__item btn" href="/{{ slug }}/buttons">
				buttons
			</a>
			<a class="auto-wrap__item btn" href="/{{ slug }}/inputs">
				inputs
			</a>
			<a class="auto-wrap__item btn" href="/{{ slug }}/accordion">
				accordion
			</a>
		</div>

	</div>
</section> <!-- END Testing Vue Modal -->