{{ partial src="heros/_hero" }}

<section class="frame gutter">
	<div class="inner">
		<h1>Heading number 1</h1>
		<h2>Heading number 2</h2>
		<h3>Heading number 3</h3>
		<h4>Heading number 4</h4>
		<h5>Heading number 5</h5>
		<h6>Heading number 6</h6>
	</div>
</section>

<hr/>

<section class="frame gutter">
	<div class="inner transcription">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pellentesque nunc nec luctus luctus. Etiam quis nisi et elit rutrum imperdiet vel vitae quam. Sed quis justo quis urna consectetur consectetur. Vivamus in mollis arcu, et tincidunt lectus.</p>
		<h1>Heading number 1</h1>
		<h2>Heading number 2</h2>
		<h3>Heading number 3</h3>
		<h4>Heading number 4</h4>
		<h5>Heading number 5</h5>
		<h6>Heading number 6</h6>
	</div>
</section>

<hr/>

<section class="frame gutter">
	<div class="inner transcription">
		<h1>Heading number 1</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pellentesque nunc nec luctus luctus. Etiam quis nisi et elit rutrum imperdiet vel vitae quam. Sed quis justo quis urna consectetur consectetur. Vivamus in mollis arcu, et tincidunt lectus.</p>
		<h2>Heading number 2</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pellentesque nunc nec luctus luctus. Etiam quis nisi et elit rutrum imperdiet vel vitae quam. Sed quis justo quis urna consectetur consectetur. Vivamus in mollis arcu, et tincidunt lectus.</p>
		<h3>Heading number 3</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pellentesque nunc nec luctus luctus. Etiam quis nisi et elit rutrum imperdiet vel vitae quam. Sed quis justo quis urna consectetur consectetur. Vivamus in mollis arcu, et tincidunt lectus.</p>
		<h4>Heading number 4</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pellentesque nunc nec luctus luctus. Etiam quis nisi et elit rutrum imperdiet vel vitae quam. Sed quis justo quis urna consectetur consectetur. Vivamus in mollis arcu, et tincidunt lectus.</p>
		<h5>Heading number 5</h5>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pellentesque nunc nec luctus luctus. Etiam quis nisi et elit rutrum imperdiet vel vitae quam. Sed quis justo quis urna consectetur consectetur. Vivamus in mollis arcu, et tincidunt lectus.</p>
		<h6>Heading number 6</h6>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pellentesque nunc nec luctus luctus. Etiam quis nisi et elit rutrum imperdiet vel vitae quam. Sed quis justo quis urna consectetur consectetur. Vivamus in mollis arcu, et tincidunt lectus.</p>
		<blockquote>
			Morbi commodo leo et risus vestibulum, vitae vestibulum neque porttitor. Vivamus sed massa ac felis consectetur ultricies. Curabitur facilisis neque enim, a iaculis elit commodo non.
		</blockquote>
		<blockquote>
			Morbi commodo leo et risus vestibulum, vitae vestibulum neque porttitor. Vivamus sed massa ac felis consectetur ultricies. Curabitur facilisis neque enim, a iaculis elit commodo non.
			<cite>Risus Vestibulum</cite>
		</blockquote>
		<blockquote>
			Morbi commodo leo et risus vestibulum, vitae vestibulum neque porttitor. Vivamus sed massa ac felis consectetur ultricies. Curabitur facilisis neque enim, a iaculis elit commodo non.
		</blockquote>
		<cite>Risus Vestibulum</cite>
		<ul>
			<li>Lorem ipsum dolor sit amet</li>
			<li>Lorem ipsum dolor sit amet</li>
			<li>Lorem ipsum dolor sit amet</li>
			<li>Lorem ipsum dolor sit amet</li>
			<ul>
				<li>Lorem ipsum dolor sit amet</li>
				<li>Lorem ipsum dolor sit amet</li>
				<li>Lorem ipsum dolor sit amet</li>
				<li>Lorem ipsum dolor sit amet</li>
				<li>Lorem ipsum dolor sit amet</li>
			</ul>
			<li>Lorem ipsum dolor sit amet</li>
		</ul>
		<ol>
			<li>Lorem ipsum dolor sit amet</li>
			<li>Lorem ipsum dolor sit amet</li>
			<ul>
				<li>Lorem ipsum dolor sit amet</li>
				<ol>
					<li>Lorem ipsum dolor sit amet</li>
				</ol>
			</ul>
			<li>Lorem ipsum dolor sit amet</li>
			<li>Lorem ipsum dolor sit amet</li>
			<li>Lorem ipsum dolor sit amet</li>
		</ol>
	</div>
</section>