<section {{ if section_id }}id="{{ section_id }}" {{ /if }}
		 class="frame {{ desktop_space }} {{ mobile_space }} outer offset-row {{ background_color }} {{ classes }}">

	<div class="column-main">
	{{ main_column }}

		<div class="trim gutter {{ space_above }} offset-block {{ type }} {{ classes }}">
			<div class="gutter offset-inner {{ type }}_inner">
			{{ partial src="blocks/{type}" }}
			</div>
		</div>

	{{ /main_column }}
	</div>

	<div class="column-aside">
	{{ aside_column }}

		<div class="trim gutter {{ space_above }} offset-block {{ type }} {{ classes }}">
			<div class="gutter offset-inner {{ type }}_inner">
			{{ partial src="blocks/{type}" }}
			</div>
		</div>

	{{ /aside_column }}
	</div>

</section> <!-- END split_section -->