<section {{ if section_id }}id="{{ section_id }}"{{ /if }} class="frame {{ desktop_space }} {{ mobile_space }} outer trim gutter {{ classes }}">
    

    <div class="wrapper">
        <video-playlist videos='{{ video_playlist | to_json | sanitize }}'/>
    </div>

    

</section> <!-- END split_section -->
    