<section id="hero" class="hero">

	<div class="trim gutter hero-inner">
		<div class="hero-content wrapper">

			<div class="title-group">
				<h3 class="hero-subtitle">{{ error_title }}</h3>
				<h1>{{ error_code }}</h1>
			</div>

			{{ if error_message }}
			<hr>
			<p>{{ error_message }}</p>
			{{ /if }}
			
			<a class="btn mar-t" href="/">Back to Homepage</a>
			
		</div>
	</div> <!-- END hero-inner -->
	
</section> <!-- END hero -->