<section id="hero" class="hero hero-post{{ if featured_image }} has-image{{ /if }}">

	<div class="trim gutter hero-inner">
		<div class="hero-content inner">
			<h1>{{ title }}</h1>
			{{# post author #}}
			{{ if author }}
			<div class="post-author-meta mar-t">
				{{ relate:author }}
				<div class="author-img">
					<img src="{{ email | gravatar or profile_pic }}" alt="{{ name }}">
				</div>
				<div class="author-info">
					<span>{{ name }}</span>
				</div>
				{{ /relate:author }}
			</div>
			{{ /if }}
			{{# post intro #}}
			{{ if post_intro }}
			<p>{{ post_intro }}</p>
			{{ /if }}
		</div>
	</div> <!-- END hero-inner -->

	{{ if featured_image }}
	<div class="wrapper">
		<div class="bg-img bg-ultra-wide" style="background-image: url('{{ featured_image }}');"></div>
	</div> <!-- END hero-image -->
	{{ /if }}
	
</section> <!-- END hero -->