{{ partial src="heros/_hero" }}

{{ collection from="blog" limit="10" paginate="true" as="posts" sort="date:desc" }}
<section class="frame outer gutter archive">
	<div class="inner">

		{{ if no_results }}
		<h3>More posts coming soon!</h3>
		{{ /if }}
	
		{{ posts }}
		<article class="excerpt">
			<div class="post-intro">
				<a href="{{ url }}"><h3>{{ title }}</h3></a>
				<p>{{ post_intro }}</p>
			</div>
			<div class="feat-img">
				{{ if featured_image }}<div class="bg-img" style="background-image: url('{{ featured_image }}');"></div>{{ /if }}
			</div>
		</article>
		{{ /posts }}
	
		{{ partial src="_pagination" }}

	</div>
</section> <!-- END {{ mount}} -->
{{ /collection }}