---
error_code: 404
error_title: Page not found
error_message: Looks like the page ({{ url }}) you were trying to access doesn't exist or has been removed.
---

{{ partial src="hero/error" }}

<section class="frame outer gutter">
	<div class="wrapper">

		<img src="/site/themes/{{ theme }}/img/404.png" alt="404">

	</div>	
</section>