<div class="heading-content">
	<h5>{{ block_subheading }}</h5>
	<h3>{{ block_heading }}</h3>
	<div class="copy">{{ block_content | markdown }}</div>
	{{ if button_link }}
	<a class="btn" href="{{ button_link }}">
		{{ if button_text }}{{ button_text }}{{ else 'Link' }}{{ /if }}
	</a>
	{{ else }}
	<hr>
	{{ /if }}
</div>