<div class="social-icons">

	{{ if site_facebook }}
	<a class="social-icons__link icon-facebook" href="{{ site_facebook }}" target="_blank">
		{{ theme:output src="img/svg/icon-facebook-square.svg" }}
	</a>
	{{ /if }}

	{{ if site_instagram }}
	<a class="social-icons__link icon-instagram" href="{{ site_instagram }}" target="_blank">
		{{ theme:output src="img/svg/icon-instagram.svg" }}
	</a>
	{{ /if }}

	{{ if site_linkedin }}
	<a class="social-icons__link icon-linkedin" href="{{ site_linkedin }}" target="_blank">
		{{ theme:output src="img/svg/icon-linkedin.svg" }}
	</a>
	{{ /if }}
	
	{{ if site_periscope }}
	<a class="social-icons__link icon-periscope" href="{{ site_periscope }}" target="_blank">
		{{ theme:output src="img/svg/icon-periscope.svg" }}
	</a>
	{{ /if }}

	{{ if site_pinterest }}
	<a class="social-icons__link icon-pinterest" href="{{ site_pinterest }}" target="_blank">
		{{ theme:output src="img/svg/icon-pinterest.svg" }}
	</a>
	{{ /if }}

	{{ if site_soundcloud }}
	<a class="social-icons__link icon-soundcloud" href="{{ site_soundcloud }}" target="_blank">
		{{ theme:output src="img/svg/icon-soundcloud.svg" }}
	</a>
	{{ /if }}

	{{ if site_twitter }}
	<a class="social-icons__link icon-twitter" href="{{ site_twitter }}" target="_blank">
		{{ theme:output src="img/svg/icon-twitter.svg" }}
	</a>
	{{ /if }}

	{{ if site_vimeo }}
	<a class="social-icons__link icon-vimeo" href="{{ site_vimeo }}" target="_blank">
		{{ theme:output src="img/svg/icon-vimeo.svg" }}
	</a>
	{{ /if }}

	{{ if site_youtube }}
	<a class="social-icons__link icon-youtube" href="{{ site_youtube }}" target="_blank">
		{{ theme:output src="img/svg/icon-youtube.svg" }}
	</a>
	{{ /if }}

</div>