<section id="hero" class="hero{{ if hero_image }} has-image{{ /if }}">

	<div class="hero-image-wrap{{ if hero_image }} {{ hero_overlay }}{{ /if }}">
		<div class="hero-image"{{ if hero_image }} style="background-image: url('{{ hero_image }}');"{{ /if }}></div>
	</div> <!-- END hero-image -->

	<div class="trim gutter hero-inner">
		<div class="hero-content wrapper">
			{{ if hero_subtitle }}
			<div class="title-group">
				<h3 class="hero-subtitle">{{ hero_subtitle or title }}</h3>
				<h1>{{ hero_title }}</h1>
			</div>
			{{ else }}
			<h1>{{ hero_title or title }}</h1>
			{{ /if }}
			{{# hero copy #}}
			{{ if hero_copy }}
			<hr>
			<p>{{ hero_copy }}</p>
			{{ /if }}
			{{# hero button #}}
			{{ if hero_button }}
			<a class="btn mar-t" href="{{ hero_button_link }}">{{ hero_button_text }}</a>
			{{ /if }}
		</div>
	</div> <!-- END hero-inner -->
	
</section> <!-- END hero -->