@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i|Roboto+Slab|Montserrat:500,600&display=swap);@charset "UTF-8";
/* ==========================================================================
===== THEME STYLESHEET =====
=
= I've divvied up the scss to go from a wider scope to a more specific scope. ( As you would )
= The order that I have decided on is: global > module > component > layout
= For each one, I will explain my thinking as to why they are more specific than the last.
= Here is a link to something which explains my thinking on the mater, fairly well.
= https://softwareengineering.stackexchange.com/questions/178927/is-there-a-difference-between-a-component-and-a-module
=
========================================================================== */
/* ==========================================================================
===== CORE STYLES =====
=
= These are for styles that will always be used. The rules here should be minimal and dry.
= When working on more specific classes and elements you don't want to have to backpedal very much, if at all.
= Don't see the need to add any more files to this folder, what is here should cover all the core needs.
=
========================================================================== */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
	========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
	========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
	========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
	========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
	========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
	========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| BASE: Settings
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/
/*
|–––––––––––––––––––––––––
| Settings: COLOR
|–––––––––––––––––––––––––
*/
/* common */
/* gray shades */
/* social media colors */
/* site specific */
/* site dynamic */
/*
|–––––––––––––––––––––––––
| Settings: TYPOGRAPHY
|–––––––––––––––––––––––––
*/
/* === FONT FAM === */
/* default */
/* site fonts */
/* dynamic fonts */
/* site dynamic fonts */
/* === FONT SIZE === */
/*
|–––––––––––––––––––––––––
| Settings: LAYOUT
|–––––––––––––––––––––––––
|
| bp = break point
|
| w = width
| h = height
|
| mb = mobile
| tb = tablet
| dt = desktop
|
*/
/* === RESPONSIVE === */
/* === MAX WIDTHS === */
/* === DYNAMIC MAX WIDTHS === */
/* === WHITESPACE === */
/*
|–––––––––––––––––––––––––
| Settings: SITE VARS
|–––––––––––––––––––––––––
*/
/* === BORDER RADIUS === */
/* === HEADER === */
/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| BASE: Responsiveness
|––––––––––––––––––––––––––––––––––––––––––––––––––
|
| Author: Glenn McComb
| Site: https://glennmccomb.com/articles/useful-sass-scss-media-query-mixins-for-bootstrap/
|
| Update: Tyler Underwood
| Notes: I added functionality for variables or numbers used in the mixin.
| 		 So that, we were not confined to using variables in the breakpoints map.
|
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/
/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| BASE: Mixins
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/
/*  ________    __  __________     ________  ______  ______
   / ____/ /   / / / /  _/ __ \   /_  __/\ \/ / __ \/ ____/
  / /_  / /   / / / // // / / /    / /    \  / /_/ / __/   
 / __/ / /___/ /_/ // // /_/ /    / /     / / ____/ /___   
/_/   /_____/\____/___/_____/    /_/     /_/_/   /_____/   */
/*  ________  _________________  __  ___   __________  ___    ____  ___________   _____________
   / ____/ / / / ___/_  __/ __ \/  |/  /  / ____/ __ \/   |  / __ \/  _/ ____/ | / /_  __/ ___/
  / /   / / / /\__ \ / / / / / / /|_/ /  / / __/ /_/ / /| | / / / // // __/ /  |/ / / /  \__ \ 
 / /___/ /_/ /___/ // / / /_/ / /  / /  / /_/ / _, _/ ___ |/ /_/ // // /___/ /|  / / /  ___/ / 
\____/\____//____//_/  \____/_/  /_/   \____/_/ |_/_/  |_/_____/___/_____/_/ |_/ /_/  /____/ 	*/
/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| BASE: Animations
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/
@-webkit-keyframes bounce_up {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.3em);
  }
  50% {
    transform: translateY(-0.5em);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bounce_up {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.3em);
  }
  50% {
    transform: translateY(-0.5em);
  }
  100% {
    transform: translateY(0);
  }
}
.bounce-up {
  -webkit-animation: bounce_up 1100ms infinite ease-in-out;
          animation: bounce_up 1100ms infinite ease-in-out;
}

@-webkit-keyframes bounce_right {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-0.3rem);
  }
  50% {
    transform: translateX(0.5rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes bounce_right {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-0.3rem);
  }
  50% {
    transform: translateX(0.5rem);
  }
  100% {
    transform: translateX(0);
  }
}
.bounce-right {
  -webkit-animation: bounce_right 1100ms infinite ease-in-out;
          animation: bounce_right 1100ms infinite ease-in-out;
}

@-webkit-keyframes bounce_down {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-0.3em);
  }
  50% {
    transform: translateY(0.5em);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce_down {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-0.3em);
  }
  50% {
    transform: translateY(0.5em);
  }
  100% {
    transform: translateY(0);
  }
}
.bounce-down {
  -webkit-animation: bounce_down 1100ms infinite ease-in-out;
          animation: bounce_down 1100ms infinite ease-in-out;
}

@-webkit-keyframes bounce_left {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0.3rem);
  }
  50% {
    transform: translateX(-0.5rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes bounce_left {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0.3rem);
  }
  50% {
    transform: translateX(-0.5rem);
  }
  100% {
    transform: translateX(0);
  }
}
.bounce-left {
  -webkit-animation: bounce_left 1100ms infinite ease-in-out;
          animation: bounce_left 1100ms infinite ease-in-out;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.blink {
  -webkit-animation: blink 1000ms infinite;
          animation: blink 1000ms infinite;
}

/* ===== CUSTOM ANIMATION ELEMENTS ===== */
.insertion-point {
  position: relative;
}
.insertion-point:before {
  -webkit-animation: blink 1000ms infinite;
          animation: blink 1000ms infinite;
  position: absolute;
  top: 0;
  left: -0.2em;
  width: 0.1em;
  height: 1em;
  background-color: #201E31;
  content: "";
}

/* ===== HOVER TRANSITIONS ===== */
.on-hover-grow {
  transition: all 300ms ease-in-out;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
}
.on-hover-grow:hover {
  transform: scale(1.05) translateY(-3%);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
}
.on-hover-grow:active {
  transform: scale(1.02) translateY(-1%);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}

/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| BASE: Body
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (max-width: 479px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 480px) and (max-width: 1599px) {
  html {
    font-size: calc(16px + 4 * (100vw - 480px) / 1120);
  }
}
@media (min-width: 1600px) {
  html {
    font-size: 20px;
  }
}

body {
  overflow-x: hidden;
  background-color: white;
  line-height: 1;
  font-size: 1rem;
  font-weight: normal;
  font-family: "Open Sans", Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #201E31;
  scroll-behavior: smooth;
}

.scrollable {
  overflow-x: hidden;
  overflow-y: scroll;
}

.scroll-lock {
  overflow: hidden !important;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#container {
  flex: 1;
  overflow: hidden;
}

#header {
  position: relative;
  z-index: 3;
}

#main {
  position: relative;
  z-index: 2;
}

#footer {
  position: relative;
  z-index: 1;
}

/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| BASE: Typography
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/
/* ===== DEFAULTS ===== */
p {
  margin: 1.6rem 0 0;
  max-width: 36rem;
  line-height: 1.6;
  font-size: 1rem;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}

li {
  line-height: 1.6;
  font-size: 1rem;
}
li:first-child {
  margin-top: 0;
}
li:last-child {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 1em 0 0.2em;
  line-height: 0.8;
  font-weight: normal;
  font-family: "Roboto Slab", Times, serif;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  padding-top: 0;
}
h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
  padding-bottom: 0;
}
h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
  margin-top: 0.5rem;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.6rem;
}

h1, h2, h3, h4 {
  color: #201E31;
}

h5 {
  color: #637BA9;
}

h6 {
  color: #B8C8CA;
}

h1 + h1, h1 + h2, h1 + h3, h1 + h4, h1 + h5, h1 + h6, h2 + h1, h2 + h2, h2 + h3, h2 + h4, h2 + h5, h2 + h6, h3 + h1, h3 + h2, h3 + h3, h3 + h4, h3 + h5, h3 + h6, h4 + h1, h4 + h2, h4 + h3, h4 + h4, h4 + h5, h4 + h6, h5 + h1, h5 + h2, h5 + h3, h5 + h4, h5 + h5, h5 + h6, h6 + h1, h6 + h2, h6 + h3, h6 + h4, h6 + h5, h6 + h6 {
  margin-top: 0.5rem;
  padding-top: 0;
}

hr {
  clear: both;
  margin: 1.6rem 0;
  border: unset;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  color: #201E31;
}
hr + p {
  margin-top: 0;
}

ul, ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

blockquote {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-size: 1.2rem;
}

cite {
  font-size: 0.8rem;
}

code {
  border-radius: 2px;
  background: #eeeeee;
  padding: 2px;
  line-height: 1.2;
  font-size: inherit;
  color: #333333;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.25em;
}

sub {
  bottom: -0.25em;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a:hover, a:focus {
  outline: none;
  color: inherit;
}

/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| BASE: Forms 
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/
form {
  display: block;
  max-width: 36rem;
}

br,
.break {
  display: block;
  margin: 1rem 100% 0 0;
  content: "";
}

label,
.label {
  white-space: nowrap;
  text-transform: uppercase;
  font-family: "Montserrat", Times, serif;
  font-size: 0.8rem;
}

label[for] {
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

input,
select,
textarea,
fieldset,
.input {
  display: block;
  margin: 0;
  outline: none;
  box-shadow: none;
  border: 2px solid #f0f0f0;
  border-radius: 2px;
  background-color: #fafafa;
  width: 100%;
  padding: 0.5em 0.8em;
  line-height: 1;
  font-size: 1rem;
  color: #201E31;
  transition: border 300ms ease-in-out, background-color 300ms ease-in-out;
}
input::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
fieldset::-webkit-input-placeholder,
.input::-webkit-input-placeholder {
  opacity: 0.3;
  color: inherit;
}
input::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder,
fieldset::-moz-placeholder,
.input::-moz-placeholder {
  opacity: 0.3;
  color: inherit;
}
input:-ms-input-placeholder,
select:-ms-input-placeholder,
textarea:-ms-input-placeholder,
fieldset:-ms-input-placeholder,
.input:-ms-input-placeholder {
  opacity: 0.3;
  color: inherit;
}
input::-ms-input-placeholder,
select::-ms-input-placeholder,
textarea::-ms-input-placeholder,
fieldset::-ms-input-placeholder,
.input::-ms-input-placeholder {
  opacity: 0.3;
  color: inherit;
}
input::placeholder,
select::placeholder,
textarea::placeholder,
fieldset::placeholder,
.input::placeholder {
  opacity: 0.3;
  color: inherit;
}
input:focus, input:active,
select:focus,
select:active,
textarea:focus,
textarea:active,
fieldset:focus,
fieldset:active,
.input:focus,
.input:active {
  border-color: #ff381a;
  background-color: #fbfbfb;
}

.input--override {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

input[readonly]:focus, input[readonly]:active,
fieldset:focus,
fieldset:active {
  border-color: #f0f0f0;
  background-color: #fafafa;
}

legend {
  padding: 0 0.4em;
  margin: 0 -0.4em;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  height: 12em;
  resize: vertical;
  line-height: 1.4;
}

input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=color] {
  height: 2.2em;
  padding: 0.1em;
  cursor: pointer;
}

input[type=checkbox] {
  display: inline-block;
  width: unset;
  cursor: pointer;
}

input[type=radio] {
  display: inline-block;
  width: unset;
  cursor: pointer;
}

input[type=range] {
  cursor: pointer;
}

input[type=file] {
  cursor: pointer;
}

/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| BASE: Buttons 
|––––––––––––––––––––––––––––––––––––––––––––––––––
|
| The button or submit should by default have button styles,
| but once a class is put on them, they should be wiped of styles so you dont have to backpedal.
|
| If you want to put a class on the button but keep the default styles,
| just add the button class to the classes you want.
|
*/
button {
  display: inline-block;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
  color: #ffffff;
  cursor: pointer;
}

.btn,
.button,
[type=submit]:not([class]),
[type=reset]:not([class]) {
  display: inline-block;
  flex-shrink: 0;
  min-width: 8rem;
  border: 2px solid #FF7F6C;
  border-radius: 2px;
  background-color: #FF7F6C;
  padding: 0.5rem 1.4rem;
  letter-spacing: 2px;
  line-height: 1;
  font-family: "Montserrat", Times, serif;
  font-size: 0.8rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  transition: border-color 300ms ease-in-out, background-color 300ms ease-in-out, color 300ms ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.btn:hover, .btn:focus,
.button:hover,
.button:focus,
[type=submit]:not([class]):hover,
[type=submit]:not([class]):focus,
[type=reset]:not([class]):hover,
[type=reset]:not([class]):focus {
  outline: none;
  border-color: #ff381a;
  background-color: #ff381a;
  color: #ffffff;
}
.btn[disabled],
.button[disabled],
[type=submit]:not([class])[disabled],
[type=reset]:not([class])[disabled] {
  opacity: 0.8;
  cursor: not-allowed;
}
.btn[disabled]:hover, .btn[disabled]:focus,
.button[disabled]:hover,
.button[disabled]:focus,
[type=submit]:not([class])[disabled]:hover,
[type=submit]:not([class])[disabled]:focus,
[type=reset]:not([class])[disabled]:hover,
[type=reset]:not([class])[disabled]:focus {
  outline: none;
  border-color: #FF7F6C;
  background-color: #FF7F6C;
  color: #ffffff;
}

/* === button types === */
.btn,
.button {
  /* square button */
  /* rounded button */
  /* pill button */
  /* border button */
  /* slim button */
  /* avrg button */
  /* phat button */
}
.btn--square,
.button--square {
  border-radius: 0;
}
.btn--rounded,
.button--rounded {
  border-radius: 0.3em;
}
.btn--pill,
.button--pill {
  border-radius: 9999px;
}
.btn--border,
.button--border {
  border-color: #FF7F6C;
  background: transparent;
  padding: 0.55rem 1.4rem;
  font-size: 0.7rem;
  color: #FF7F6C;
}
.btn--border:hover, .btn--border:focus,
.button--border:hover,
.button--border:focus {
  border-color: #ff381a;
  background-color: #ff381a;
  color: #ffffff;
}
.btn--sm, .btn--slim,
.button--sm,
.button--slim {
  border-width: 1px;
  padding: 0.45rem 1.2rem;
  font-size: 0.7rem;
  font-weight: normal;
}
.btn--sm.btn, .btn--sm .button--border, .btn--slim.btn, .btn--slim .button--border,
.button--sm.btn,
.button--sm .button--border,
.button--slim.btn,
.button--slim .button--border {
  padding: 0.5rem 1.2rem;
  font-size: 0.6rem;
}
.btn--md, .btn--avrg,
.button--md,
.button--avrg {
  border-width: 2px;
  padding: 0.5rem 1.4rem;
  font-size: 0.8rem;
}
.btn--md.btn, .btn--md .button--border, .btn--avrg.btn, .btn--avrg .button--border,
.button--md.btn,
.button--md .button--border,
.button--avrg.btn,
.button--avrg .button--border {
  padding: 0.6rem 1.3rem;
  font-size: 0.7rem;
}
.btn--lg, .btn--phat,
.button--lg,
.button--phat {
  border-width: 2px;
  padding: 0.8rem 2.4rem;
  font-size: 0.8rem;
  font-weight: bold;
}
.btn--lg.btn, .btn--lg .button--border, .btn--phat.btn, .btn--phat .button--border,
.button--lg.btn,
.button--lg .button--border,
.button--phat.btn,
.button--phat .button--border {
  padding: 0.7rem 2.4rem;
  font-size: 0.8rem;
}

/* ===== site specific ===== */
/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| BASE: Media
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/
video, img, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  width: 100%;
}

.svg-fill {
  fill: currentColor;
}

.svg-stroke {
  fill: none;
  stroke: currentColor;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.no-linecap {
  stroke-linecap: unset;
}

.no-linejoin {
  stroke-linejoin: unset;
}

/* ==========================================================================
===== LAYOUT STYLES =====
=
= 
=
========================================================================== */
/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| LAYOUT: Main Layout
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/
/* === outer === */
.outer {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1600px;
}
.outer--half {
  max-width: 800px;
}

/* === wrapper === */
.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 64rem;
}
.wrapper--half {
  max-width: 32rem;
}

/* === inner === */
.inner {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 36rem;
}
.inner--half {
  max-width: 18rem;
}

/* === block === */
@media (max-width: 479px) {
  .frame {
    margin-top: 64px;
    margin-bottom: 64px;
  }
}
@media (min-width: 480px) and (max-width: 1599px) {
  .frame {
    margin-top: calc(64px + 32 * (100vw - 480px) / 1120);
    margin-bottom: calc(64px + 32 * (100vw - 480px) / 1120);
  }
}
@media (min-width: 1600px) {
  .frame {
    margin-top: 96px;
    margin-bottom: 96px;
  }
}

.frame--top {
  margin-bottom: 0;
}
.frame--bot {
  margin-top: 0;
}
.frame--not {
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .mb\:frame--top {
    margin-bottom: 0;
  }
  .mb\:frame--bot {
    margin-top: 0;
  }
  .mb\:frame--not {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .dt\:frame--top {
    margin-bottom: 0;
  }
  .dt\:frame--bot {
    margin-top: 0;
  }
  .dt\:frame--not {
    margin-top: 0;
    margin-bottom: 0;
  }
}
/* === trim === */
@media (max-width: 479px) {
  .trim {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
@media (min-width: 480px) and (max-width: 1599px) {
  .trim {
    padding-top: calc(64px + 32 * (100vw - 480px) / 1120);
    padding-bottom: calc(64px + 32 * (100vw - 480px) / 1120);
  }
}
@media (min-width: 1600px) {
  .trim {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

.trim--top {
  padding-bottom: 0;
}
.trim--bot {
  padding-top: 0;
}
.trim--not {
  padding-top: 0;
  padding-bottom: 0;
}

/* === spacer === */
@media (max-width: 479px) {
  .spacer {
    margin-right: 32px;
    margin-left: 32px;
  }
}
@media (min-width: 480px) and (max-width: 1599px) {
  .spacer {
    margin-right: calc(32px + 32 * (100vw - 480px) / 1120);
    margin-left: calc(32px + 32 * (100vw - 480px) / 1120);
  }
}
@media (min-width: 1600px) {
  .spacer {
    margin-right: 64px;
    margin-left: 64px;
  }
}

.spacer--right {
  margin-left: 0;
}
.spacer--left {
  margin-right: 0;
}

/* === gutter === */
@media (max-width: 479px) {
  .gutter {
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media (min-width: 480px) and (max-width: 1599px) {
  .gutter {
    padding-right: calc(32px + 32 * (100vw - 480px) / 1120);
    padding-left: calc(32px + 32 * (100vw - 480px) / 1120);
  }
}
@media (min-width: 1600px) {
  .gutter {
    padding-right: 64px;
    padding-left: 64px;
  }
}

.gutter--right {
  padding-left: 0;
}
.gutter--left {
  padding-right: 0;
}

/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| LAYOUT: Flex Layout 
|––––––––––––––––––––––––––––––––––––––––––––––––––
|
| Author: Tyler Underwood
|
| A flex-column must be a child element of a parent with these rules:
| display: flex;
| flex-flow: row wrap;
| All flex alignment rules can be added to the parents as well.
|
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/
/* === Flex Helpers === */
.flex {
  display: flex;
}

.justy-start {
  justify-content: start;
}

.justy-end {
  justify-content: end;
}

.justy-center {
  justify-content: center;
}

.justy-between {
  justify-content: space-between;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-between {
  align-items: space-between;
}

/* === Flex Row === */
.flex-row {
  display: flex;
  flex-flow: row wrap;
}
.flex-row--top {
  align-items: flex-start;
}
.flex-row--right {
  justify-content: flex-end;
}
.flex-row--bottom {
  align-items: flex-end;
}
.flex-row--left {
  justify-content: flex-start;
}
.flex-row--middle {
  align-items: center;
}
.flex-row--center {
  justify-content: center;
}
.flex-row--between {
  justify-content: space-between;
}
.flex-row--around {
  justify-content: space-around;
}
.flex-row--evenly {
  justify-content: space-evenly;
}

/* === Flex Columns === */
.flex-col {
  display: flex;
  flex-flow: column wrap;
}
.flex-col--top {
  justify-content: flex-start;
}
.flex-col--right {
  align-items: flex-end;
}
.flex-col--bottom {
  justify-content: flex-end;
}
.flex-col--left {
  align-items: flex-start;
}
.flex-col--middle {
  justify-content: center;
}
.flex-col--center {
  align-items: center;
}
.flex-col--between {
  align-content: space-between;
}
.flex-col--around {
  align-content: space-around;
}
.flex-col--evenly {
  align-content: space-evenly;
}

/* === AUTO WRAP === */
.auto-wrap {
  display: flex;
  flex-flow: row wrap;
  margin: -0.8rem;
}
.auto-wrap__item {
  margin: 0.8rem;
}
.auto-wrap--sm {
  margin: -0.4rem;
}
.auto-wrap--sm .auto-wrap__item {
  margin: 0.4rem;
}
.auto-wrap--lg {
  margin: -1.6rem;
}
.auto-wrap--lg .auto-wrap__item {
  margin: 1.6rem;
}

/* === FILLER === */
.filler {
  flex: 1 1 auto;
}

/* === Flex Columns === */
@media (max-width: 480px) {
  .flex-tri-col + .flex-tri-col {
    margin-top: 2rem;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .flex-tri-col {
    margin: 0 48px 0 0;
    width: calc(100%/2 - (48px * 1) / 2);
  }
  .flex-tri-col:nth-child(n+3) {
    margin-top: 48px;
  }
  .flex-tri-col:last-child, .flex-tri-col:nth-child(2n) {
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .flex-tri-col {
    margin: 0 64px 0 0;
    width: calc(100%/3 - (64px * 2) / 3);
  }
  .flex-tri-col:nth-child(n+4) {
    margin-top: 64px;
  }
  .flex-tri-col:last-child, .flex-tri-col:nth-child(3n) {
    margin-right: 0;
  }
}

/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| LAYOUT: Full Row
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/
.full-row:not([class*=bg-]):not([class*=background-]) {
  padding-top: 0;
  padding-bottom: 0;
}

/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| LAYOUT: Half Row
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/
.half-row {
  display: flex;
  flex-flow: row;
  padding: 0;
  /* === BLOCK === */
  /* === BLOCK INNER === */
  /* ===== BELOW TABLET ===== */
  /* ===== ABOVE TABLET ===== */
  /* ===== SPECIAL COMPONENTS ===== */
  /* === FILLER === */
  /* === HEADING CONTENT === */
  /* === IMAGE FULL === */
}
.half-row__column-left, .half-row__column-right {
  display: flex;
  flex-flow: column;
}
.half-row__block {
  display: flex;
  position: relative;
  width: 100%;
}
.half-row__block:first-child {
  margin-top: 0;
}
.half-row__block:last-child {
  margin-bottom: 0;
}
.half-row__block:not(:first-child) {
  padding-top: 0;
}
.half-row__block:not(:last-child) {
  padding-bottom: 0;
}
.half-row__wrap {
  position: relative;
  width: 100%;
  max-width: 32rem;
}
@media (max-width: 767px) {
  .half-row:not(.column_right_on_top) {
    flex-flow: column;
  }
  .half-row.column_right_on_top {
    flex-flow: column-reverse;
  }
  .half-row__block {
    justify-content: center;
  }
  .half-row__wrap {
    max-width: unset;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .half-row {
    flex-flow: row nowrap;
  }
  .half-row__column-left {
    width: 50%;
  }
  .half-row__column-left .half-row__block {
    justify-content: flex-end;
    padding-right: 0;
  }
  .half-row__column-left .half-row__wrap {
    padding-left: 0;
  }
  .half-row__column-right {
    width: 50%;
  }
  .half-row__column-right .half-row__block {
    justify-content: flex-start;
    padding-left: 0;
  }
  .half-row__column-right .half-row__wrap {
    padding-right: 0;
  }
}
.half-row .filler {
  flex: 1;
  margin: 0;
  width: 100%;
  padding: 0;
}
.half-row .filler__wrap {
  display: none;
}
.half-row .heading_content {
  position: relative;
}
.half-row .image_full {
  flex: 1;
  display: flex;
  padding: 0;
}
.half-row .image_full__wrap {
  flex: 1;
  display: flex;
  max-width: unset;
  padding: 0;
}
.half-row .image_full .bg-img {
  flex: 1;
}
@media (max-width: 767px) {
  .half-row .image_full .bg-img:after {
    padding-top: 56.25%;
  }
}
@media (min-width: 768px) {
  .half-row .image_full .bg-img {
    min-height: 24rem;
  }
}

/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| LAYOUT: Offset Layout
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/
/* === SIMPLIFIED === */
.offset-main {
  width: 100%;
}
@media (min-width: 768px) {
  .offset-main {
    margin-left: auto;
    max-width: 36rem;
  }
}

.offset-main-wide {
  width: 100%;
}
@media (min-width: 768px) {
  .offset-main-wide {
    margin-left: auto;
    max-width: calc(800px + 4rem);
  }
}

.offset-aside {
  width: 100%;
}
@media (min-width: 768px) {
  .offset-aside {
    margin-right: auto;
    max-width: 28rem;
  }
}

.offset-aside-wide {
  width: 100%;
}
@media (min-width: 768px) {
  .offset-aside-wide {
    margin-right: auto;
    max-width: calc(800px - 4rem);
  }
}

/* === DYNAMIC === */
.offset-row {
  display: flex;
  /* === COLUMNS === */
}
.offset-row .column-main,
.offset-row .column-aside {
  display: flex;
  flex-flow: column;
  width: 100%;
}
.offset-row .offset-block {
  display: flex;
  width: 100%;
  /* === COLUMN INNER === */
}
.offset-row .offset-block:first-child {
  margin-top: 0;
}
.offset-row .offset-block:last-child {
  margin-bottom: 0;
}
.offset-row .offset-block:not(:first-child) {
  padding-top: 0;
}
.offset-row .offset-block:not(:last-child) {
  padding-bottom: 0;
}
.offset-row .offset-block .offset-inner {
  flex: 1;
  width: 100%;
}
.offset-row:not([class*=bg-]):not([class*=background-]) .offset-block {
  padding-top: 0;
  padding-bottom: 0;
}
@media (max-width: 767px) {
  .offset-row {
    flex-flow: column nowrap;
  }
  .offset-row .column-main,
.offset-row .column-aside {
    max-width: 100%;
  }
  .offset-row .column-main .offset-block,
.offset-row .column-aside .offset-block {
    max-width: 100%;
  }
  .offset-row .column-main .offset-inner,
.offset-row .column-aside .offset-inner {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .offset-row {
    flex-flow: row nowrap;
  }
  .offset-row .column-main {
    max-width: calc(50% - 32rem + 36rem);
  }
  .offset-row .column-main .offset-block {
    display: flex;
    justify-content: flex-end;
    max-width: calc(800px + 4rem);
    padding-right: 0;
  }
  .offset-row .column-main .offset-inner {
    max-width: 36rem;
    padding-left: 0;
  }
  .offset-row .column-aside {
    max-width: calc(50% + 32rem - 36rem);
  }
  .offset-row .column-aside .offset-block {
    display: flex;
    justify-content: flex-start;
    max-width: calc(800px - 4rem);
    padding-left: 0;
  }
  .offset-row .column-aside .offset-inner {
    max-width: 28rem;
    padding-right: 0;
  }
}

/* ==========================================================================
===== MODULES STYLES =====
=
= A module in this instance, is something that has a general purpose and might contain more specific components.
=
========================================================================== */
/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| COMPONENTS: Transcription
|––––––––––––––––––––––––––––––––––––––––––––––––––
|
| For sections where you want your lists, links and etc. to look nice,
| and so you don't have to backpedal any of the styles where you don't need.
|
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/
/* === Headings === */
.heading, .transcription h1, .transcription h2, .transcription h3, .transcription h4, .transcription h5, .transcription h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 1.5em 0 0.25em;
  line-height: 0.75;
  font-weight: normal;
  font-family: "Roboto Slab", Times, serif;
}
.heading:first-child, .transcription h1:first-child, .transcription h2:first-child, .transcription h3:first-child, .transcription h4:first-child, .transcription h5:first-child, .transcription h6:first-child,
.h1:first-child, .h2:first-child, .h3:first-child, .h4:first-child, .h5:first-child, .h6:first-child {
  padding-top: 0;
}
.heading:last-child, .transcription h1:last-child, .transcription h2:last-child, .transcription h3:last-child, .transcription h4:last-child, .transcription h5:last-child, .transcription h6:last-child,
.h1:last-child, .h2:last-child, .h3:last-child, .h4:last-child, .h5:last-child, .h6:last-child {
  padding-bottom: 0;
}
.heading + p, .transcription h1 + p, .transcription h2 + p, .transcription h3 + p, .transcription h4 + p, .transcription h5 + p, .transcription h6 + p,
.h1 + p, .h2 + p, .h3 + p, .h4 + p, .h5 + p, .h6 + p {
  margin-top: 0.5rem;
}

.h1, .transcription h1,
h1.default {
  font-size: 3.2rem;
  color: #201E31;
}

.h2, .transcription h2,
h2.default {
  font-size: 2.4rem;
  color: #201E31;
}

.h3, .transcription h3,
h3.default {
  font-size: 2rem;
  color: #201E31;
}

.h4, .transcription h4,
h4.default {
  font-size: 1.6rem;
  color: #201E31;
}

.h5, .transcription h5,
h5.default {
  font-size: 1.6rem;
  color: #637BA9;
}

.h6, .transcription h6,
h6.default {
  font-size: 1.6rem;
  color: #B8C8CA;
}

/* === Anchor Tags === */
.a,
a:not([class]) {
  color: #FF7F6C;
  transition: color 200ms ease-in-out;
}
.a:hover, .a:focus,
a:not([class]):hover,
a:not([class]):focus {
  color: #ff381a;
}

.hyperlink, .transcription a,
a.default {
  background-repeat: no-repeat;
  background-image: linear-gradient(transparent calc(100% - 0.2em), #FF824B 0), linear-gradient(transparent calc(100% - 0.2em), #B8C8CA 0);
  background-size: 0 100%, 100% 100%;
  color: #201E31;
  transition: background 200ms ease-in-out;
}
.hyperlink:hover, .transcription a:hover,
a.default:hover {
  color: #201E31;
  background-size: 100% 100%, 100% 100%;
}

/* === List Types === */
.ul, .transcription ul,
ul.default {
  margin: 1.6rem 0 0;
  max-width: 36rem;
  line-height: 1.4;
  list-style: none;
}
.ul:first-child, .transcription ul:first-child,
ul.default:first-child {
  margin-top: 0;
}
.ul > li, .transcription ul > li,
ul.default > li {
  position: relative;
  margin: 0.8em 0 0;
  padding: 0 0 0 2em;
}
.ul > li:first-child, .transcription ul > li:first-child,
ul.default > li:first-child {
  margin-top: 0;
}
.ul > li:before, .transcription ul > li:before,
ul.default > li:before {
  position: absolute;
  top: 0.6em;
  left: 0;
  width: 0.4em;
  height: 0.4em;
  background-color: #FF7F6C;
  content: "";
}
.ul > ul, .transcription ul > ul, .ul > ol, .transcription ul > ol,
ul.default > ul,
ul.default > ol {
  margin-top: 0.8em;
  margin-left: 2em;
}

.ol, .transcription ol,
ol.default {
  margin: 1.6rem 0 0;
  max-width: 36rem;
  padding: 0;
  line-height: 1.4;
  list-style: decimal outside;
}
.ol:first-child, .transcription ol:first-child,
ol.default:first-child {
  margin-top: 0;
}
.ol > li, .transcription ol > li,
ol.default > li {
  margin: 0.8em 0 0 1.1em;
  padding: 0 0 0 0.9em;
  list-style: inherit;
}
.ol > li:first-child, .transcription ol > li:first-child,
ol.default > li:first-child {
  margin-top: 0;
}
.ol > ul, .transcription ol > ul, .ol > ol, .transcription ol > ol,
ol.default > ul,
ol.default > ol {
  margin-top: 0.8em;
  margin-left: 2em;
}

/* === Blockquote === */
.blockquote, .transcription blockquote,
blockquote.default {
  margin: 1.6rem 0 0;
  max-width: 36rem;
  border-left: 0.2em solid #FF7F6C;
  padding: 0 0 0 1.2em;
  font-size: 1.2rem;
}
.blockquote p, .transcription blockquote p,
blockquote.default p {
  line-height: inherit;
  font-size: inherit;
}
.blockquote:first-child, .transcription blockquote:first-child,
blockquote.default:first-child {
  margin-top: 0;
}

.cite, .transcription cite,
cite.default {
  display: block;
  margin: 0.2em 0 0;
  max-width: 36rem;
  padding: 0;
  text-align: right;
  line-height: 1.2rem;
  font-size: 0.8rem;
}
.cite:before, .transcription cite:before,
cite.default:before {
  padding: 0 0.5em 0 0;
  content: "\2014";
}

/* === Putting it all together === */
.transcription {
  display: block;
}
.transcription ul {
  clear: both;
}
.transcription ol {
  clear: both;
}
.transcription blockquote {
  clear: both;
}
/* ===== Extra Componants ===== */
.font-serif {
  font-family: "Roboto Slab", Times, serif;
}

.font-sans-serif {
  font-family: "Open Sans", Arial, sans-serif;
}

.font-geo {
  font-family: "Montserrat", Times, serif;
}

.letter-space {
  letter-spacing: 1px;
}

.text-uppercase {
  text-transform: uppercase;
}

.break-words {
  word-break: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

/* === Font Size === */
.font-size-sm {
  font-size: 0.8rem;
}

.font-size {
  font-size: 1rem;
}

.font-size-lg {
  font-size: 1.2rem;
}

/* === Font Weight === */
.font-lighter {
  font-weight: lighter;
}

.font-normal {
  font-weight: normal;
}

.font-bold {
  font-weight: bold;
}

/* === Alignment === */
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* === Colors === */
/* text */
.text-dark {
  color: #201E31;
}

.text-light {
  color: #B8C8CA;
}

.text-white {
  color: #ffffff;
}

.text-color {
  color: #201E31;
}

.heading-color {
  color: #201E31;
}

.heading-color-alt {
  color: #637BA9;
}

.link-color {
  color: #FF7F6C;
}

/* border */
.border-white {
  border-color: #ffffff;
}

.border-text-color {
  border-color: #201E31;
}

.border-dark {
  border-color: #201E31;
}

.border-primary {
  border-color: #637BA9;
}

.border-light {
  border-color: #B8C8CA;
}

.border-accent {
  border-color: #FF7F6C;
}

.border-alt {
  border-color: #FF824B;
}

/* svg */
.fill-white {
  fill: #ffffff;
}

.fill-text-color {
  fill: #201E31;
}

.fill-dark {
  fill: #201E31;
}

.fill-primary {
  fill: #637BA9;
}

.fill-light {
  fill: #B8C8CA;
}

.fill-accent {
  fill: #FF7F6C;
}

.fill-alt {
  fill: #FF824B;
}

.geo-text {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: "Montserrat", Times, serif;
  letter-spacing: 2px;
}

blockquote.fancy {
  margin-top: -0.36em;
  text-align: center;
  font-family: "Roboto Slab", Times, serif;
  font-size: 1.6rem;
}
blockquote.fancy + .accent {
  display: block;
  position: relative;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #FF824B;
  font-size: 8px;
  color: gray;
  content: "";
}
blockquote.fancy + .accent::before, blockquote.fancy + .accent::after {
  position: absolute;
  top: 50%;
  width: 4rem;
  transform: translate(0, -50%);
  height: 2px;
  background-color: inherit;
  content: "";
}
blockquote.fancy + .accent::before {
  left: 2em;
}
blockquote.fancy + .accent::after {
  right: 2em;
}

.inline-list {
  display: flex;
  flex-flow: row wrap;
}
.inline-list > .inline-list__item {
  display: block;
}
.inline-list > .inline-list__item + .inline-list__item::before {
  display: inline-block;
  margin: 0 0.5em;
  content: "";
}
.inline-list--pipline > .inline-list__item + .inline-list__item::before {
  display: inline-block;
  vertical-align: baseline;
  width: 1px;
  height: 0.7em;
  background-color: currentColor;
  margin: 0 1em;
  content: "";
}
.inline-list--middot > .inline-list__item + .inline-list__item::before {
  display: inline-block;
  vertical-align: baseline;
  margin: 0 1em;
  content: "\B7";
}
@media (max-width: 767px) {
  .inline-list > .inline-list__item {
    width: 100%;
    text-align: center;
    line-height: 1.6;
  }
  .inline-list > .inline-list__item + .inline-list__item::before {
    display: none;
  }
}

/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| COMPONENTS: Navigation 
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/
nav.site-nav {
  display: flex;
  flex-flow: row wrap;
  margin: -0.5em;
}
nav.site-nav a {
  display: block;
  padding: 0.5em;
  line-height: 1;
  letter-spacing: 2px;
  font-family: "Montserrat", Times, serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #201E31;
}

/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| COMPONENTS: Site Header 
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/
/* ===== VARIABLES ===== */
/* ===== LAYOUT ===== */
header.site-header {
  position: relative;
  z-index: 99;
}
header.site-header .inner-header {
  display: flex;
  align-items: center;
  position: relative;
  padding: 1rem;
  background-color: #ffffff;
  color: #201E31;
}
header.site-header .ghost-header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: transparent;
  color: #ffffff;
}

/* ===== COMPONENTS ===== */
/* === LOGO === */
/*
| The logo height is how the header's whole size is determined, width will be automatically set.
*/
#logo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  z-index: 3;
  height: 2.4rem;
  color: #201E31;
}
#logo .ghost-header {
  color: #ffffff;
}
#logo svg, #logo img {
  fill: currentColor;
  height: inherit;
}
.nav-open #logo, .nav-opening #logo {
  transition: color 240ms ease-in-out;
  color: #ffffff;
}
.nav-closed #logo, .nav-closing #logo {
  transition: color 240ms ease-in-out;
}

/* ===== STATIC NAV ===== */
.static-nav {
  display: flex;
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 50%;
  /* === RESPONSIVE === */
}
.static-nav nav.site-header-nav a {
  color: inherit;
  transition: color 300ms ease-in-out;
}
.static-nav nav.site-header-nav a:hover, .static-nav nav.site-header-nav a:active {
  color: #FF7F6C;
}
.static-nav a.hide {
  display: none;
}
@media (max-width: 1023px) {
  .static-nav {
    display: none;
  }
}

/* ===== DRAWER NAV ===== */
.drawer-nav {
  display: flex;
  flex-flow: column;
  position: fixed;
  z-index: 2;
  top: 0;
  left: unset;
  bottom: 0;
  right: calc(100% - 100vw + 1px);
  transform-origin: left top;
  margin-right: calc(50vw - 50%);
  width: calc(100vw + 2px);
  height: 100vh;
  background-color: #201E31;
  padding: 0;
  padding-top: 4.4rem;
  line-height: 1;
  font-size: 2.4rem;
  /* === NAVIGATION LINKS === */
  /* === CONTACT LINKS === */
}
.drawer-nav:before, .drawer-nav:after {
  position: absolute;
  z-index: 9;
  left: 0;
  width: 100%;
  height: 1em;
  content: "";
}
.drawer-nav:before {
  top: 4.4rem;
  background: linear-gradient(#201e31 0%, rgba(32, 30, 49, 0) 100%);
}
.drawer-nav:after {
  bottom: 0;
  background: linear-gradient(rgba(32, 30, 49, 0) 0%, #201e31 100%);
}
.drawer-nav .inner-nav {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 1em 0 0;
}
.drawer-nav .inner-nav::after {
  display: block;
  opacity: 0;
  min-height: 1em;
  content: " ";
}
.drawer-nav .inner-nav > * {
  margin: 0.5rem 0;
}
.drawer-nav .inner-nav > *:first-child {
  margin-top: 0;
}
.drawer-nav .inner-nav > *:last-child {
  margin-bottom: 0;
}
.drawer-nav a {
  display: inline-block;
  margin-right: auto;
  padding: 0.8rem 1rem;
  text-transform: capitalize;
  font-family: "Roboto Slab", Times, serif;
  font-weight: normal;
  transition: opacity 200ms ease-in-out;
}
.drawer-nav a:hover, .drawer-nav a:active {
  opacity: 0.8;
}
.drawer-nav nav.site-header-nav {
  display: flex;
  flex-flow: column;
}
.drawer-nav nav.site-header-nav a {
  font-size: inherit;
  color: #ffffff;
}
.drawer-nav .contact-links {
  display: flex;
  flex-flow: column;
}
.drawer-nav .contact-links a {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-family: "Open Sans", Arial, sans-serif;
  color: #ffffff;
}
.drawer-nav .contact-links span {
  display: inline-block;
}
.drawer-nav .contact-links .icon {
  width: 1rem;
  fill: #ffffff;
}
.drawer-nav .contact-links .text {
  margin-left: 1rem;
}
@-webkit-keyframes open_drawer {
  from {
    opacity: 0;
    transform: scale(1.05);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes open_drawer {
  from {
    opacity: 0;
    transform: scale(1.05);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes close_drawer {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(1.05);
  }
}
@keyframes close_drawer {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(1.05);
  }
}
.nav-closed .drawer-nav {
  visibility: hidden;
}
.nav-opening .drawer-nav {
  -webkit-animation: open_drawer 240ms ease-in-out forwards;
          animation: open_drawer 240ms ease-in-out forwards;
}
.nav-opened .drawer-nav {
  visibility: visible;
}
.nav-closing .drawer-nav {
  -webkit-animation: close_drawer 240ms ease-in-out forwards;
          animation: close_drawer 240ms ease-in-out forwards;
}

/* === NAV BUTTON === */
button.nav-button {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: absolute;
  z-index: 99;
  right: 2em;
  outline: none;
  border: none;
  border-radius: 50%;
  width: 4em;
  height: 4em;
  background-color: transparent;
  padding: 2em;
  font-size: 8px;
  transition: background-color 250ms ease;
  cursor: pointer;
  /* ABOVE MOBILE */
  /* ABOVE TABLET */
}
button.nav-button span {
  background-color: #201E31;
}
.ghost-header button.nav-button span {
  background-color: #ffffff;
}
button.nav-button .dots {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  min-width: 40px;
  overflow: hidden;
  cursor: pointer;
}
button.nav-button .dots span {
  display: inline-block;
  border-radius: 50%;
  width: 5px;
  height: 5px;
}
button.nav-button .close-x {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 3em;
  height: 3em;
  cursor: pointer;
}
button.nav-button .close-x span {
  display: block;
  position: absolute;
  border-radius: 2px;
  width: 0;
  height: 4px;
}
button.nav-button .close-x span:first-child {
  transform: rotate(-45deg);
}
button.nav-button .close-x span:last-child {
  transform: rotate(45deg);
}
button.nav-button:hover, button.nav-button:focus {
  background-color: transparent;
}
.nav-open button.nav-button, .nav-opening button.nav-button {
  background-color: transparent;
}
.nav-open button.nav-button .dots, .nav-opening button.nav-button .dots {
  width: 0;
  min-width: 0;
  transition: all 240ms ease;
}
.nav-open button.nav-button .close-x span, .nav-opening button.nav-button .close-x span {
  width: 2rem;
  transition: all 240ms ease;
}
.nav-open button.nav-button span, .nav-opening button.nav-button span {
  background-color: #ffffff;
}
.nav-closed button.nav-button, .nav-closing button.nav-button {
  background-color: transparent;
}
.nav-closed button.nav-button .dots, .nav-closing button.nav-button .dots {
  transition: all 240ms ease;
}
.nav-closed button.nav-button .close-x span, .nav-closing button.nav-button .close-x span {
  transition: all 240ms ease;
}
@media (min-width: 480px) {
  button.nav-button {
    font-size: 10px;
  }
}
@media (min-width: 768px) {
  button.nav-button {
    font-size: 12px;
  }
}

/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| COMPONENTS: Site Footer 
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/
/* ===== VARIABLES ===== */
/* ===== LAYOUT ===== */
footer.site-footer {
  position: relative;
  background-color: #201E31;
  color: #ffffff;
}
footer.site-footer .inner-footer {
  position: relative;
}

/* ===== COMPONENTS ===== */
/* === SCROLL TO TOP BUTTON === */
.scroll-to-top {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  width: 1em;
  height: 1em;
  padding: 0.25em;
  font-size: 4rem;
  background-color: #ffffff;
  fill: #FF7F6C;
}

/* === NAVIGATION === */
nav.site-footer-nav {
  max-width: 36rem;
}
nav.site-footer-nav a {
  display: block;
  color: inherit;
}

/* === INFO LINE === */
.info-line {
  text-transform: uppercase;
  font-family: "Montserrat", Times, serif;
  letter-spacing: 1px;
}
.info-line a {
  font-size: inherit;
  color: inherit;
}
.info-line a + a::before {
  background-color: #ffffff;
}

/* === COPYRIGHT === */
.copyright {
  text-transform: uppercase;
  font-family: "Montserrat", Times, serif;
  letter-spacing: 1px;
}
.copyright a {
  font-size: inherit;
  color: inherit;
}

/* ===== RESPONSIVE ===== */
/* === BELOW MOBILE === */
@media (max-width: 479px) {
  nav.site-footer-nav {
    flex-flow: column;
    align-items: center;
    margin: 0;
  }

  .copyright {
    text-align: center;
  }
}
/* === BELOW TABLET === */
@media (max-width: 767px) {
  .copyright span {
    display: block;
  }
  .copyright span + span {
    margin-top: 8px;
  }
}
/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| COMPONENTS: Hero 
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/
/* ===== VARIABLES ===== */
/* ===== LAYOUT ===== */
.hero {
  display: flex;
  position: relative;
  min-height: 24rem;
  background-color: #B8C8CA;
}

/* ===== COMPONENTS ===== */
.hero-image-wrap {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.hero.has-image .hero-image-wrap::after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
}
.hero-image-wrap.hero-overlay-none::after {
  display: none;
  background: none;
}
.hero-image-wrap.hero-overlay-light::after {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0) 100%);
}
.hero-image-wrap.hero-overlay::after {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 25%, rgba(0, 0, 0, 0.4) 55%, rgba(0, 0, 0, 0) 100%);
}
.hero-image-wrap.hero-overlay-dark::after {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0) 100%);
}

.hero-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-inner {
  position: relative;
  z-index: 1;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
}

.hero-content {
  flex: 1;
  margin: auto;
  width: 100%;
  color: #ffffff;
}
.hero-content h1, .hero-content h2, .hero-content h3, .hero-content p {
  color: inherit;
}
.hero-content h1:first-child, .hero-content h2:first-child, .hero-content h3:first-child, .hero-content p:first-child {
  margin-top: 0;
}
.hero-content h1:last-child, .hero-content h2:last-child, .hero-content h3:last-child, .hero-content p:last-child {
  margin-bottom: 0;
}
.hero-content hr {
  margin: 1rem 0;
  max-width: 20rem;
  border-top: 2px solid;
  border-bottom: 2px solid;
  color: inherit;
}

.hero-subtitle {
  letter-spacing: 1px;
  text-transform: uppercase;
  font: 0.8rem/1.2 "Montserrat", Times, serif;
  color: #ffffff;
}
.hero-subtitle + h1 {
  margin-top: 0.2rem;
}

/* ===== RESPOSIVENESS ===== */
/* ===== SPECIAL CASES ===== */
.ghost-header + .hero.has-image .hero-image::after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: calc(100% - 4.4rem);
  left: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.33) 45%, rgba(0, 0, 0, 0.33) 50%, rgba(0, 0, 0, 0) 100%);
  content: "";
}

.hero-post {
  display: flex;
  flex-flow: column;
  background-color: transparent;
}
.hero-post .hero-content {
  color: #201E31;
}

.hero-featured-post .hero-image {
  transform: scale(1.01);
  transition: 1600ms all ease-in-out;
}
.hero-featured-post .read-more {
  color: #FF7F6C;
  display: inline-block;
  font-family: "Montserrat", Times, serif;
  font-size: 0.7em;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 1px;
}
.hero-featured-post:hover .hero-image {
  transform: scale(1.03);
}
.hero-featured-post:hover .read-more {
  color: #ff381a;
}

/* ===== SPECIAL COMPONENTS ===== */
/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| COMPONENTS: Bard
|––––––––––––––––––––––––––––––––––––––––––––––––––
|
| Layout and styles for anthing built within the bard.
|
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/
.bard {
  margin-right: auto;
  margin-left: auto;
  max-width: 64rem;
  /* === Alignment === */
}
.bard .bard-block {
  margin: 1.6rem auto 0;
  max-width: 36rem;
}
.bard .bard-block:first-child {
  margin-top: 0;
}
.bard .transcription:first-child p:first-child::first-letter {
  float: left;
  margin: 0;
  padding: 0.15em 0.2em 0 0;
  font-family: "Roboto Slab", Times, serif;
  font-size: 3.3rem;
  line-height: 2rem;
}
.bard .blockquote, .bard .transcription blockquote, .transcription .bard blockquote {
  padding: 1.6rem 0;
}
.bard h2 {
  font-size: 2rem;
}
.bard h3 {
  font-size: 1.6rem;
}
.bard h4, .bard h5 {
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: 2px;
}
.bard h5 {
  color: #FF824B;
}
.bard hr {
  margin: 3.2rem auto;
  width: 28.8rem;
  max-width: 80%;
  border-color: #eeeeee;
}
.bard hr + * {
  margin-top: 0;
}
.bard figure,
.bard figcaption {
  max-width: 36rem;
  margin: 0 auto;
}
.bard figure {
  margin: 1.6rem auto 0;
}
.bard figure:first-child {
  margin-top: 0;
}
.bard figcaption {
  display: block;
  margin: 8px 0 0;
  text-align: center;
  font-size: 0.8rem;
  font-style: italic;
}
.bard .double-image {
  display: flex;
  flex-flow: row wrap;
}
.bard .double-image img,
.bard .double-image .bg-img {
  max-width: 50%;
}
.bard .align-full,
.bard .align-wide {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}
.bard .align-left,
.bard .align-right {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.bard .align-full {
  max-width: unset;
  margin-left: -50vw;
  margin-right: -50vw;
}
.bard .align-full > * {
  width: 100%;
  max-width: unset;
}
.bard .align-wide {
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}
.bard .align-wide > * {
  width: 100%;
  max-width: unset;
}
.bard .align-left,
.bard .align-right {
  width: 100%;
  max-width: 32rem;
}
.bard .align-left {
  float: left;
  margin-right: 1.6rem;
}
.bard .align-right {
  float: right;
  margin-left: 1.6rem;
}
@media (max-width: 767px) {
  .bard .align-left,
.bard .align-right {
    display: block;
    float: none;
    margin-right: auto;
    margin-left: auto;
    max-width: 36rem;
  }
}
@media (max-width: 1023px) {
  .bard .align-wide {
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    max-width: unset;
  }
  .bard .video-block.align-wide {
    padding-top: 56.25vw;
  }
}

/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| COMPONENTS: Modal 
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/
/* === variables === */
/* === animations === */
@-webkit-keyframes modal_pop_in {
  from {
    transform: scale(1.05);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
@keyframes modal_pop_in {
  from {
    transform: scale(1.05);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
@-webkit-keyframes modal_pop_out {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.95);
    opacity: 0;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
@keyframes modal_pop_out {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.95);
    opacity: 0;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
@-webkit-keyframes modal_fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes modal_fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes modal_fade_out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes modal_fade_out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* === content === */
.modal {
  display: block;
  position: fixed;
  z-index: 990;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(56, 73, 75, 0.5);
  overflow: auto;
  padding: 2rem 2rem 0 2rem;
  text-align: center;
}
.modal::after {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: "";
}
.modal__container {
  display: inline-flex;
  position: relative;
  z-index: 998;
  margin: 2rem 0;
  max-width: 100%;
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  vertical-align: middle;
}
.modal__overlay {
  display: block;
  position: absolute;
  z-index: 991;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  cursor: pointer;
}
.modal__close-button {
  display: block;
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  left: unset;
  transform: translate(60%, -60%);
  border-radius: 50%;
  border: 0;
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  width: 1.5em;
  height: 1.5em;
  padding: 0;
  line-height: 0;
  font-size: 24px;
  color: #c0c0c0;
  transition: background 300ms ease-in-out, color 300ms ease-in-out;
  cursor: pointer;
}
.modal__close-button::after {
  display: block;
  padding: 0 0 1px 1px;
  content: "\D7";
}
.modal__close-button:hover, .modal__close-button:focus {
  background-color: #FF7F6C;
  color: #201E31;
}
.modal--closed {
  visibility: hidden;
}
.modal--closed .modal__container {
  visibility: hidden;
}
.modal--opening {
  -webkit-animation: modal_fade_in 300ms forwards ease-in;
          animation: modal_fade_in 300ms forwards ease-in;
}
.modal--opening .modal__container {
  -webkit-animation: modal_pop_in 300ms forwards ease-in;
          animation: modal_pop_in 300ms forwards ease-in;
}
.modal--opened {
  visibility: visible;
}
.modal--opened .modal__container {
  visibility: visible;
}
.modal--closing {
  -webkit-animation: modal_fade_out 300ms forwards ease-out;
          animation: modal_fade_out 300ms forwards ease-out;
}
.modal--closing .modal__container {
  -webkit-animation: modal_pop_out 300ms forwards ease-out;
          animation: modal_pop_out 300ms forwards ease-out;
}

/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| COMPONENTS: Accordion 
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/
.accordion-header {
  padding: 0.8rem;
  background-color: #B8C8CA;
}

.collapsible {
  opacity: 0;
  width: 100%;
  padding: 0;
  overflow: hidden;
  transition: all 500ms ease-in-out;
}
.collapsible-open > .collapsible {
  opacity: 1;
}

/* ==========================================================================
===== COMPONENTS STYLES =====
=
= Here a component is a specific class or set of classes that relate to a singular use or style.
=
========================================================================== */
/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| COMPONENTS: Social Icons
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/
.social-icons {
  display: flex;
  margin: -0.2em;
  font-size: 2rem;
}
.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.2em;
  height: 1.2em;
  padding: 0.2em;
}
.social-icons .icon-facebook,
.social-icons .icon-facebook-square {
  color: #3b5998;
}
.social-icons .icon-instagram {
  color: #bc2a8d;
}
.social-icons .icon-linkedin {
  color: #0077b5;
}
.social-icons .icon-periscope {
  color: #d75444;
}
.social-icons .icon-pinterest {
  color: #c8232c;
}
.social-icons .icon-soundcloud {
  color: #FF5401;
}
.social-icons .icon-twitter {
  color: #1da1f2;
}
.social-icons .icon-vimeo {
  color: #1ab7ea;
}
.social-icons .icon-youtube,
.social-icons .icon-youtube-outline {
  color: #bb0000;
}

/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| COMPONENTS: Excerpt
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/
article.excerpt {
  display: flex;
}
article.excerpt + article.excerpt {
  margin-top: 1.6rem;
}
article.excerpt:last-of-type {
  margin-bottom: 1.6rem;
}
article.excerpt .post-intro {
  flex: 1;
}
article.excerpt .post-intro p {
  margin: 1rem 0 0 0;
}
article.excerpt .feat-img {
  margin: 0 0 0 1.6rem;
  width: 10rem;
}
article.excerpt .feat-img .bg-img::after {
  padding-top: 100%;
}
@media (max-width: 767px) {
  article.excerpt {
    flex-flow: column-reverse;
  }
  article.excerpt .post-intro p {
    display: none;
  }
  article.excerpt .feat-img {
    margin: 0 0 1.6rem;
    width: 100%;
  }
  article.excerpt .feat-img .bg-img::after {
    padding-top: 57.25%;
  }
}

/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| COMPONENTS: User Meta
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/
.post-author-meta {
  display: flex;
}
.post-author-meta .author-img {
  display: flex;
  flex: 0 0 auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  overflow: hidden;
  background-image: url("/site/themes/abf/img/blank-profile-picture.png");
  background-position: center;
  background-size: cover;
  font-size: 4rem;
}
.post-author-meta .author-img img {
  align-self: center;
  text-align: center;
  font-size: 0.15em;
}
.post-author-meta .author-info {
  align-self: center;
  margin: 0 0 0 1em;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.read-more {
  display: inline-block;
  font-size: 0.7em;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 1px;
  color: #FF7F6C;
  transition: color 300ms ease-in-out;
}
.read-more:hover {
  color: #ff5f18;
}

/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| COMPONENTS: Contact Form
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/
[class*=form_message] {
  border: 2px solid #201E31;
  border-radius: 0.2em;
  width: 100%;
  padding: 0.3em 0.6em;
  font-size: 1.1rem;
  color: #201E31;
}

.form_message_success {
  border-color: #64e764;
  background-color: lightgreen;
  color: #201E31;
}

.form_message_error {
  border-color: #ff6666;
  background-color: #ff9999;
  color: #201E31;
}

.contact-form {
  position: relative;
}
.contact-form label {
  display: block;
  font-size: 1rem;
}
.contact-form label + label {
  margin-top: 1.4rem;
}
.contact-form span {
  display: block;
  margin: 0 0 0.4em;
}

.single-form form {
  display: flex;
  flex-flow: row wrap;
  max-width: 640px;
}
.single-form form label, .single-form form input, .single-form form button {
  display: block;
  margin: 0;
  height: 40px;
  line-height: 1;
  padding-top: 0;
  padding-bottom: 0;
}
.single-form form button {
  padding-left: 1.4em;
  padding-right: 1.4em;
}
.single-form form .input-wrap {
  flex: 1;
}
@media (max-width: 479px) {
  .single-form form {
    flex-direction: column;
  }
  .single-form form .submit-wrap {
    margin-top: 1rem;
  }
}
@media (min-width: 480px) {
  .single-form form .submit-wrap {
    margin-left: 1rem;
  }
}

/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| COMPONENTS: Single Form
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/
.single-form {
  display: flex;
  flex-flow: row wrap;
  max-width: 36rem;
}
.single-form__label, .single-form__input, .single-form__submit {
  display: block;
  height: 2rem;
  line-height: 1;
  padding-top: 0;
  padding-bottom: 0;
}
.single-form__label:first-child {
  flex: 1;
}
.single-form__input {
  width: 100%;
}
.single-form__submit {
  padding-left: 1.4em;
  padding-right: 1.4em;
}
@media (max-width: 479px) {
  .single-form {
    flex-direction: column;
  }
  .single-form__label:not(:first-child) {
    margin-top: 1rem;
  }
  .single-form__submit {
    width: 100%;
  }
}
@media (min-width: 480px) {
  .single-form__input {
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    border-right: transparent;
  }
  .single-form__submit {
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
  }
}

/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| COMPONENTS: Pagination
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/
.pagination {
  display: flex;
  font-size: 1.2rem;
}
.pagination__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.25em;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  background-color: #f8f8f8;
  padding: 0.5em;
  line-height: 1;
  vertical-align: baseline;
  text-align: center;
  font-weight: bold;
  font-size: inherit;
  font-family: "Montserrat", Times, serif;
  color: #201E31;
}
.pagination__item:first-child {
  margin-left: 0;
}
.pagination__item:last-child {
  margin-right: 0;
}
.pagination__link {
  color: #FF7F6C;
  transition: color 300ms ease;
}
.pagination__link:hover, .pagination__link:active {
  color: #ff381a;
}
.pagination__active {
  color: #637BA9;
  cursor: default;
}
.pagination__disabled {
  color: #B8C8CA;
  cursor: not-allowed;
}
.pagination .icon-arrow-left,
.pagination .icon-arrow-right {
  width: 100%;
  max-width: 0.8em;
  max-height: 0.8em;
  stroke-width: 6px;
  stroke: currentColor;
}
.pagination .icon-arrow-left {
  margin-right: 0.2em;
}
.pagination .icon-arrow-right {
  margin-left: 0.2em;
}

/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| COMPONENTS: Heading Content
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/
.heading-content h3 {
  line-height: 1.2;
  text-transform: capitalize;
  font-size: 2.8rem;
}
.heading-content h5 {
  text-transform: lowercase;
  font-size: 1.2rem;
  color: #637BA9;
}
.heading-content h5 + h3 {
  margin-top: 0.4rem;
}
.heading-content .copy {
  margin-top: 0.2rem;
}
.heading-content hr {
  margin: 1rem 0;
  max-width: 12rem;
  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  color: #B8C8CA;
}
.heading-content hr:last-child {
  margin-bottom: 0;
}
.heading-content .btn {
  margin: 1.6rem 0 0 0;
}

/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| COMPONENTS: Video
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/
svg.icon-play {
  width: 60px;
  height: 60px;
  fill: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 100%;
}

.video-container h3 {
  margin: 0;
}

.video-block {
  position: relative;
  padding-top: 56.25%;
}
.video-block iframe,
.video-block video,
.video-block img,
.video-block .video-thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.video-block iframe::before,
.video-block video::before,
.video-block img::before,
.video-block .video-thumb::before {
  content: "";
  background-color: #000000;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 300ms ease;
}
.video-block iframe .icon-play,
.video-block video .icon-play,
.video-block img .icon-play,
.video-block .video-thumb .icon-play {
  width: 60px;
  height: 60px;
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  transition: all 300ms ease;
}
.video-block iframe:hover::before,
.video-block video:hover::before,
.video-block img:hover::before,
.video-block .video-thumb:hover::before {
  opacity: 0.2;
}
.video-block iframe:hover .icon-play,
.video-block video:hover .icon-play,
.video-block img:hover .icon-play,
.video-block .video-thumb:hover .icon-play {
  transform: scale(1.15);
}
.video-block .video-thumb,
.video-block img {
  cursor: pointer;
  transition: all 500ms ease;
}
.video-block .video-thumb {
  background-size: cover;
  background-position: center;
}

/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| Video Playlist
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/
.video-playlist {
  display: flex;
  color: #201E31;
}
@media screen and (max-width: 1000px) {
  .video-playlist {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 860px) {
  .video-playlist {
    position: relative;
    max-width: none;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-right: -50vw;
    margin-left: -50vw;
  }
}
.video-playlist .current-video-container {
  position: relative;
  width: 65%;
}
@media screen and (max-width: 1000px) {
  .video-playlist .current-video-container {
    width: 100%;
  }
}
.video-playlist .current-video-container .playlist-item {
  width: 100%;
  padding-top: 56.25%;
}
.video-playlist .current-video-container .playlist-item .current-video {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.video-playlist .current-video-container .playlist-item .current-video .video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.video-playlist .current-video-container .playlist-item .current-video h3 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  margin: 0;
}
.video-playlist .video-list {
  width: 35%;
  padding-left: 1rem;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 1000px) {
  .video-playlist .video-list {
    width: 100%;
    padding: 0;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 860px) {
  .video-playlist .video-list {
    padding: 2rem 2rem 0;
    margin-top: 0;
  }
}
.video-playlist .video-list:last-child {
  margin-bottom: 0;
}
.video-playlist .video-list .playlist-item {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .video-playlist .video-list .playlist-item {
    width: 50%;
    padding-right: 1rem;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 620px) {
  .video-playlist .video-list .playlist-item {
    width: 100%;
  }
  .video-playlist .video-list .playlist-item:last-child {
    margin-bottom: 0;
  }
}
.video-playlist .video-list .playlist-item .video-thumb-wrapper {
  width: 150px;
  margin-right: 0.5rem;
  position: relative;
}
@media screen and (max-width: 1023px) {
  .video-playlist .video-list .playlist-item .video-thumb-wrapper {
    width: 120px;
  }
}
.video-playlist .video-list .playlist-item .video-thumb-wrapper::before {
  content: "";
  width: 5px;
  height: 100%;
  background-color: #FF7F6C;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -5px;
  opacity: 0;
  transition: opacity 300ms ease;
}
.video-playlist .video-list .playlist-item .video-thumb-wrapper::after {
  content: "";
  background-color: #000000;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 300ms ease;
}
.video-playlist .video-list .playlist-item .video-thumb-wrapper .video-thumb {
  background-position: center;
  background-size: cover;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  transition: opacity 300ms ease;
  position: relative;
}
.video-playlist .video-list .playlist-item .video-thumb-wrapper .video-thumb .icon-play {
  width: 40px;
  height: 40px;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  opacity: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: opacity 300ms ease;
  z-index: 2;
}
.video-playlist .video-list .playlist-item h3 {
  width: 50%;
  margin: 0;
  color: currentColor;
  font-size: 0.9rem;
}
.video-playlist .video-list .playlist-item.is-selected .video-thumb-wrapper::before {
  opacity: 1;
}
.video-playlist .video-list .playlist-item:hover .video-thumb-wrapper::after {
  opacity: 0.2;
}
.video-playlist .video-list .playlist-item:hover .video-thumb-wrapper .video-thumb .icon-play {
  opacity: 1;
}
.video-playlist .video-list .playlist-item:hover.is-selected .video-thumb-wrapper::after {
  opacity: 0;
}
.video-playlist .video-list .playlist-item:hover.is-selected .video-thumb-wrapper .video-thumb .icon-play {
  opacity: 0;
}

/* ==========================================================================
===== UTILITY STYLES =====
=
= 
=
========================================================================== */
/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| UTILITY: WIDTH
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/
/* ===== MAX WIDTHS ===== */
[class^=mxw] {
  width: 100%;
}

/* static */
.mxw-480 {
  max-width: 480px;
}

.mxw-640 {
  max-width: 640px;
}

.mxw-720 {
  max-width: 720px;
}

.mxw-1080 {
  max-width: 1080px;
}

.mxw-1280 {
  max-width: 1280px;
}

.mxw-1440 {
  max-width: 1440px;
}

.mxw-1600 {
  max-width: 1600px;
}

/* dynamic */
.mxw-text {
  max-width: 36rem;
}

/* ===== WIDTHS ===== */
.w-full {
  width: 100vw;
}

.w-100 {
  width: 100%;
}

.w-87 {
  width: 87.5%;
}

.w-75 {
  width: 75%;
}

.w-66 {
  width: 66.666666%;
}

.w-62 {
  width: 62.5%;
}

.w-50 {
  width: 50%;
}

.w-37 {
  width: 37.5%;
}

.w-33 {
  width: 33.333333%;
}

.w-25 {
  width: 25%;
}

.w-12 {
  width: 12.5%;
}

@media (max-width: 767px) {
  .mb\:w-full {
    width: 100vw;
  }
  .mb\:w-100 {
    width: 100%;
  }
  .mb\:w-87 {
    width: 87.5%;
  }
  .mb\:w-75 {
    width: 75%;
  }
  .mb\:w-66 {
    width: 66.666666%;
  }
  .mb\:w-62 {
    width: 62.5%;
  }
  .mb\:w-50 {
    width: 50%;
  }
  .mb\:w-37 {
    width: 37.5%;
  }
  .mb\:w-33 {
    width: 33.333333%;
  }
  .mb\:w-25 {
    width: 25%;
  }
  .mb\:w-12 {
    width: 12.5%;
  }
}
@media (min-width: 768px) {
  .dt\:w-full {
    width: 100vw;
  }
  .dt\:w-100 {
    width: 100%;
  }
  .dt\:w-87 {
    width: 87.5%;
  }
  .dt\:w-75 {
    width: 75%;
  }
  .dt\:w-66 {
    width: 66.666666%;
  }
  .dt\:w-62 {
    width: 62.5%;
  }
  .dt\:w-50 {
    width: 50%;
  }
  .dt\:w-37 {
    width: 37.5%;
  }
  .dt\:w-33 {
    width: 33.333333%;
  }
  .dt\:w-25 {
    width: 25%;
  }
  .dt\:w-12 {
    width: 12.5%;
  }
}
/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| UTILITY: Alignment
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/
.cf::after,
.clearfix::after {
  display: block;
  width: 100%;
  height: 0;
  float: none;
  clear: both;
  content: "";
}

/* ===== ALIGNMENT ===== */
/* align self */
.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.left,
.float-left {
  float: left;
}

.right,
.float-right {
  float: right;
}

.full,
.force-full {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  max-width: unset;
}

@media (max-width: 767px) {
  .mb\:center {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .mb\:left, .mb\:float-left {
    float: left;
  }
  .mb\:right, .mb\:float-right {
    float: right;
  }
}
@media (min-width: 768px) {
  .dt\:center {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .dt\:left, .dt\:float-left {
    float: left;
  }
  .dt\:right, .dt\:float-right {
    float: right;
  }
}
/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| UTILITY: Whitespace
|––––––––––––––––––––––––––––––––––––––––––––––––––
|
| Syntax
| [rule]-[direction]-[size] 
|
| size values are found in settings.scss
|
| pad = padding
| mar = margin
|
| sm = small
| md = medium
| lg = large
|
| t = top
| r = right
| b = bottom
| l = left
|
| v = vertical
| h = horizontal
|
| mb: = below tablet
| dt: = above tablet
|
*/
/* === padding === */
/* none */
.pad-0 {
  padding: 0;
}

.pad-t-0 {
  padding-top: 0;
}

.pad-r-0 {
  padding-right: 0;
}

.pad-b-0 {
  padding-bottom: 0;
}

.pad-l-0 {
  padding-left: 0;
}

.pad-h-0 {
  padding-left: 0;
  padding-right: 0;
}

.pad-v-0 {
  padding-top: 0;
  padding-bottom: 0;
}

/* dynamic */
.pad {
  padding: 1.6rem;
}

.pad-t {
  padding-top: 1.6rem;
}

.pad-r {
  padding-right: 1.6rem;
}

.pad-b {
  padding-bottom: 1.6rem;
}

.pad-l {
  padding-left: 1.6rem;
}

.pad-h {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.pad-v {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

/* surrounding */
.pad-1 {
  padding: 0.4rem;
}

.pad-2 {
  padding: 0.8rem;
}

.pad-3 {
  padding: 1.2rem;
}

.pad-4 {
  padding: 1.6rem;
}

.pad-5 {
  padding: 2rem;
}

.pad-6 {
  padding: 2.4rem;
}

.pad-7 {
  padding: 2.8rem;
}

.pad-8 {
  padding: 3.2rem;
}

/* horizontal */
.pad-h-1 {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.pad-h-2 {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.pad-h-3 {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.pad-h-4 {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.pad-h-5 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.pad-h-6 {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}

.pad-h-7 {
  padding-left: 2.8rem;
  padding-right: 2.8rem;
}

.pad-h-8 {
  padding-left: 3.2rem;
  padding-right: 3.2rem;
}

/* vertical */
.pad-v-1 {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.pad-v-2 {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.pad-v-3 {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.pad-v-4 {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

.pad-v-5 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pad-v-6 {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
}

.pad-v-7 {
  padding-top: 2.8rem;
  padding-bottom: 2.8rem;
}

.pad-v-8 {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
}

/* === margin === */
/* none */
.mar-0 {
  margin: 0;
}

.mar-t-0 {
  margin-top: 0px;
}

.mar-r-0 {
  margin-right: 0px;
}

.mar-b-0 {
  margin-bottom: 0px;
}

.mar-l-0 {
  margin-left: 0px;
}

.mar-v-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mar-h-0 {
  margin-right: 0;
  margin-left: 0;
}

/* dynamic */
.mar {
  margin: 1.6rem;
}

.mar-t {
  margin-top: 1.6rem;
}

.mar-r {
  margin-right: 1.6rem;
}

.mar-b {
  margin-bottom: 1.6rem;
}

.mar-l {
  margin-left: 1.6rem;
}

.mar-v {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.mar-h {
  margin-right: 1.6rem;
  margin-left: 1.6rem;
}

/* top */
.mar-t-1 {
  margin-top: 0.4rem;
}

.mar-t-2 {
  margin-top: 0.8rem;
}

.mar-t-3 {
  margin-top: 1.2rem;
}

.mar-t-4 {
  margin-top: 1.6rem;
}

.mar-t-5 {
  margin-top: 2rem;
}

.mar-t-6 {
  margin-top: 2.4rem;
}

.mar-t-7 {
  margin-top: 2.8rem;
}

.mar-t-8 {
  margin-top: 3.2rem;
}

/* right */
.mar-r-1 {
  margin-right: 0.4rem;
}

.mar-r-2 {
  margin-right: 0.8rem;
}

.mar-r-3 {
  margin-right: 1.2rem;
}

.mar-r-4 {
  margin-right: 1.6rem;
}

.mar-r-5 {
  margin-right: 2rem;
}

.mar-r-6 {
  margin-right: 2.4rem;
}

.mar-r-7 {
  margin-right: 2.8rem;
}

.mar-r-8 {
  margin-right: 3.2rem;
}

/* bottom */
.mar-b-1 {
  margin-bottom: 0.4rem;
}

.mar-b-2 {
  margin-bottom: 0.8rem;
}

.mar-b-3 {
  margin-bottom: 1.2rem;
}

.mar-b-4 {
  margin-bottom: 1.6rem;
}

.mar-b-5 {
  margin-bottom: 2rem;
}

.mar-b-6 {
  margin-bottom: 2.4rem;
}

.mar-b-7 {
  margin-bottom: 2.8rem;
}

.mar-b-8 {
  margin-bottom: 3.2rem;
}

/* left */
.mar-l-1 {
  margin-left: 0.4rem;
}

.mar-l-2 {
  margin-left: 0.8rem;
}

.mar-l-3 {
  margin-left: 1.2rem;
}

.mar-l-4 {
  margin-left: 1.6rem;
}

.mar-l-5 {
  margin-left: 2rem;
}

.mar-l-6 {
  margin-left: 2.4rem;
}

.mar-l-7 {
  margin-left: 2.8rem;
}

.mar-l-8 {
  margin-left: 3.2rem;
}

/* === Below Tablet === */
@media (max-width: 767px) {
  .mb\: {
    /* === padding === */
    /* none */
    /* dynamic */
    /* surrounding */
    /* horizontal */
    /* vertical */
    /* === margin === */
    /* none */
    /* dynamic */
    /* top */
    /* right */
    /* bottom */
    /* left */
  }
  .mb\:pad-0 {
    padding: 0;
  }
  .mb\:pad-t-0 {
    padding-top: 0;
  }
  .mb\:pad-r-0 {
    padding-right: 0;
  }
  .mb\:pad-b-0 {
    padding-bottom: 0;
  }
  .mb\:pad-l-0 {
    padding-left: 0;
  }
  .mb\:pad-h-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .mb\:pad-v-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .mb\:pad {
    padding: 1.6rem;
  }
  .mb\:pad-t {
    padding-top: 1.6rem;
  }
  .mb\:pad-r {
    padding-right: 1.6rem;
  }
  .mb\:pad-b {
    padding-bottom: 1.6rem;
  }
  .mb\:pad-l {
    padding-left: 1.6rem;
  }
  .mb\:pad-h {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
  .mb\:pad-v {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }
  .mb\:pad-1 {
    padding: 0.4rem;
  }
  .mb\:pad-2 {
    padding: 0.8rem;
  }
  .mb\:pad-3 {
    padding: 1.2rem;
  }
  .mb\:pad-4 {
    padding: 1.6rem;
  }
  .mb\:pad-5 {
    padding: 2rem;
  }
  .mb\:pad-6 {
    padding: 2.4rem;
  }
  .mb\:pad-7 {
    padding: 2.8rem;
  }
  .mb\:pad-8 {
    padding: 3.2rem;
  }
  .mb\:pad-h-1 {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }
  .mb\:pad-h-2 {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
  .mb\:pad-h-3 {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
  .mb\:pad-h-4 {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
  .mb\:pad-h-5 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mb\:pad-h-6 {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
  .mb\:pad-h-7 {
    padding-left: 2.8rem;
    padding-right: 2.8rem;
  }
  .mb\:pad-h-8 {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
  .mb\:pad-v-1 {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }
  .mb\:pad-v-2 {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }
  .mb\:pad-v-3 {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
  .mb\:pad-v-4 {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }
  .mb\:pad-v-5 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .mb\:pad-v-6 {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }
  .mb\:pad-v-7 {
    padding-top: 2.8rem;
    padding-bottom: 2.8rem;
  }
  .mb\:pad-v-8 {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
  }
  .mb\:mar-0 {
    margin: 0;
  }
  .mb\:mar-t-0 {
    margin-top: 0px;
  }
  .mb\:mar-r-0 {
    margin-right: 0px;
  }
  .mb\:mar-b-0 {
    margin-bottom: 0px;
  }
  .mb\:mar-l-0 {
    margin-left: 0px;
  }
  .mb\:mar-v-0 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .mb\:mar-h-0 {
    margin-right: 0;
    margin-left: 0;
  }
  .mb\:mar {
    margin: 1.6rem;
  }
  .mb\:mar-t {
    margin-top: 1.6rem;
  }
  .mb\:mar-r {
    margin-right: 1.6rem;
  }
  .mb\:mar-b {
    margin-bottom: 1.6rem;
  }
  .mb\:mar-l {
    margin-left: 1.6rem;
  }
  .mb\:mar-v {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
  }
  .mb\:mar-h {
    margin-right: 1.6rem;
    margin-left: 1.6rem;
  }
  .mb\:mar-t-1 {
    margin-top: 0.4rem;
  }
  .mb\:mar-t-2 {
    margin-top: 0.8rem;
  }
  .mb\:mar-t-3 {
    margin-top: 1.2rem;
  }
  .mb\:mar-t-4 {
    margin-top: 1.6rem;
  }
  .mb\:mar-t-5 {
    margin-top: 2rem;
  }
  .mb\:mar-t-6 {
    margin-top: 2.4rem;
  }
  .mb\:mar-t-7 {
    margin-top: 2.8rem;
  }
  .mb\:mar-t-8 {
    margin-top: 3.2rem;
  }
  .mb\:mar-r-1 {
    margin-right: 0.4rem;
  }
  .mb\:mar-r-2 {
    margin-right: 0.8rem;
  }
  .mb\:mar-r-3 {
    margin-right: 1.2rem;
  }
  .mb\:mar-r-4 {
    margin-right: 1.6rem;
  }
  .mb\:mar-r-5 {
    margin-right: 2rem;
  }
  .mb\:mar-r-6 {
    margin-right: 2.4rem;
  }
  .mb\:mar-r-7 {
    margin-right: 2.8rem;
  }
  .mb\:mar-r-8 {
    margin-right: 3.2rem;
  }
  .mb\:mar-b-1 {
    margin-bottom: 0.4rem;
  }
  .mb\:mar-b-2 {
    margin-bottom: 0.8rem;
  }
  .mb\:mar-b-3 {
    margin-bottom: 1.2rem;
  }
  .mb\:mar-b-4 {
    margin-bottom: 1.6rem;
  }
  .mb\:mar-b-5 {
    margin-bottom: 2rem;
  }
  .mb\:mar-b-6 {
    margin-bottom: 2.4rem;
  }
  .mb\:mar-b-7 {
    margin-bottom: 2.8rem;
  }
  .mb\:mar-b-8 {
    margin-bottom: 3.2rem;
  }
  .mb\:mar-l-1 {
    margin-left: 0.4rem;
  }
  .mb\:mar-l-2 {
    margin-left: 0.8rem;
  }
  .mb\:mar-l-3 {
    margin-left: 1.2rem;
  }
  .mb\:mar-l-4 {
    margin-left: 1.6rem;
  }
  .mb\:mar-l-5 {
    margin-left: 2rem;
  }
  .mb\:mar-l-6 {
    margin-left: 2.4rem;
  }
  .mb\:mar-l-7 {
    margin-left: 2.8rem;
  }
  .mb\:mar-l-8 {
    margin-left: 3.2rem;
  }
}
/* === Above Tablet === */
@media (min-width: 768px) {
  .dt\: {
    /* === padding === */
    /* none */
    /* dynamic */
    /* surrounding */
    /* horizontal */
    /* vertical */
    /* === margin === */
    /* none */
    /* dynamic */
    /* top */
    /* right */
    /* bottom */
    /* left */
  }
  .dt\:pad-0 {
    padding: 0;
  }
  .dt\:pad-t-0 {
    padding-top: 0;
  }
  .dt\:pad-r-0 {
    padding-right: 0;
  }
  .dt\:pad-b-0 {
    padding-bottom: 0;
  }
  .dt\:pad-l-0 {
    padding-left: 0;
  }
  .dt\:pad-h-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .dt\:pad-v-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .dt\:pad {
    padding: 1.6rem;
  }
  .dt\:pad-t {
    padding-top: 1.6rem;
  }
  .dt\:pad-r {
    padding-right: 1.6rem;
  }
  .dt\:pad-b {
    padding-bottom: 1.6rem;
  }
  .dt\:pad-l {
    padding-left: 1.6rem;
  }
  .dt\:pad-h {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
  .dt\:pad-v {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }
  .dt\:pad-1 {
    padding: 0.4rem;
  }
  .dt\:pad-2 {
    padding: 0.8rem;
  }
  .dt\:pad-3 {
    padding: 1.2rem;
  }
  .dt\:pad-4 {
    padding: 1.6rem;
  }
  .dt\:pad-5 {
    padding: 2rem;
  }
  .dt\:pad-6 {
    padding: 2.4rem;
  }
  .dt\:pad-7 {
    padding: 2.8rem;
  }
  .dt\:pad-8 {
    padding: 3.2rem;
  }
  .dt\:pad-h-1 {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }
  .dt\:pad-h-2 {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
  .dt\:pad-h-3 {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
  .dt\:pad-h-4 {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
  .dt\:pad-h-5 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .dt\:pad-h-6 {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
  .dt\:pad-h-7 {
    padding-left: 2.8rem;
    padding-right: 2.8rem;
  }
  .dt\:pad-h-8 {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
  .dt\:pad-v-1 {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }
  .dt\:pad-v-2 {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }
  .dt\:pad-v-3 {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
  .dt\:pad-v-4 {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }
  .dt\:pad-v-5 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .dt\:pad-v-6 {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }
  .dt\:pad-v-7 {
    padding-top: 2.8rem;
    padding-bottom: 2.8rem;
  }
  .dt\:pad-v-8 {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
  }
  .dt\:mar-0 {
    margin: 0;
  }
  .dt\:mar-t-0 {
    margin-top: 0px;
  }
  .dt\:mar-r-0 {
    margin-right: 0px;
  }
  .dt\:mar-b-0 {
    margin-bottom: 0px;
  }
  .dt\:mar-l-0 {
    margin-left: 0px;
  }
  .dt\:mar-v-0 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .dt\:mar-h-0 {
    margin-right: 0;
    margin-left: 0;
  }
  .dt\:mar {
    margin: 1.6rem;
  }
  .dt\:mar-t {
    margin-top: 1.6rem;
  }
  .dt\:mar-r {
    margin-right: 1.6rem;
  }
  .dt\:mar-b {
    margin-bottom: 1.6rem;
  }
  .dt\:mar-l {
    margin-left: 1.6rem;
  }
  .dt\:mar-v {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
  }
  .dt\:mar-h {
    margin-right: 1.6rem;
    margin-left: 1.6rem;
  }
  .dt\:mar-t-1 {
    margin-top: 0.4rem;
  }
  .dt\:mar-t-2 {
    margin-top: 0.8rem;
  }
  .dt\:mar-t-3 {
    margin-top: 1.2rem;
  }
  .dt\:mar-t-4 {
    margin-top: 1.6rem;
  }
  .dt\:mar-t-5 {
    margin-top: 2rem;
  }
  .dt\:mar-t-6 {
    margin-top: 2.4rem;
  }
  .dt\:mar-t-7 {
    margin-top: 2.8rem;
  }
  .dt\:mar-t-8 {
    margin-top: 3.2rem;
  }
  .dt\:mar-r-1 {
    margin-right: 0.4rem;
  }
  .dt\:mar-r-2 {
    margin-right: 0.8rem;
  }
  .dt\:mar-r-3 {
    margin-right: 1.2rem;
  }
  .dt\:mar-r-4 {
    margin-right: 1.6rem;
  }
  .dt\:mar-r-5 {
    margin-right: 2rem;
  }
  .dt\:mar-r-6 {
    margin-right: 2.4rem;
  }
  .dt\:mar-r-7 {
    margin-right: 2.8rem;
  }
  .dt\:mar-r-8 {
    margin-right: 3.2rem;
  }
  .dt\:mar-b-1 {
    margin-bottom: 0.4rem;
  }
  .dt\:mar-b-2 {
    margin-bottom: 0.8rem;
  }
  .dt\:mar-b-3 {
    margin-bottom: 1.2rem;
  }
  .dt\:mar-b-4 {
    margin-bottom: 1.6rem;
  }
  .dt\:mar-b-5 {
    margin-bottom: 2rem;
  }
  .dt\:mar-b-6 {
    margin-bottom: 2.4rem;
  }
  .dt\:mar-b-7 {
    margin-bottom: 2.8rem;
  }
  .dt\:mar-b-8 {
    margin-bottom: 3.2rem;
  }
  .dt\:mar-l-1 {
    margin-left: 0.4rem;
  }
  .dt\:mar-l-2 {
    margin-left: 0.8rem;
  }
  .dt\:mar-l-3 {
    margin-left: 1.2rem;
  }
  .dt\:mar-l-4 {
    margin-left: 1.6rem;
  }
  .dt\:mar-l-5 {
    margin-left: 2rem;
  }
  .dt\:mar-l-6 {
    margin-left: 2.4rem;
  }
  .dt\:mar-l-7 {
    margin-left: 2.8rem;
  }
  .dt\:mar-l-8 {
    margin-left: 3.2rem;
  }
}
/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| UTILITY: Backgrounds
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/
/* === BACKGROUND IMAGE === */
.bg-img,
.background-image {
  display: block;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.bg-img::before,
.background-image::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
}
.bg-img::after,
.background-image::after {
  display: block;
  content: "";
}

/* === BACKGROUND OVERLAYS === */
.bg-overlay-lighten::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.bg-overlay-darken::before {
  background-color: rgba(0, 0, 0, 0.3);
}

.bg-overlay-primary::before {
  background-color: rgba(99, 123, 169, 0.8);
}

/* === IMAGE RATIOS === */
.bg-square::after,
.ratio-1-1::after {
  padding-top: 100%;
}

.bg-landscape::after,
.ratio-4-3::after {
  padding-top: 75%;
}

.bg-portrait::after,
.ratio-3-4::after {
  padding-top: 133.333333%;
}

.bg-wide::after,
.ratio-16-9::after {
  padding-top: 56.25%;
}

.bg-tall::after,
.ratio-9-16::after {
  padding-top: 177.777777%;
}

.bg-ultra-wide::after,
.ratio-21-9::after {
  padding-top: 42.8571%;
}

/* === BORDER RADIUS === */
.bg-circle {
  border-radius: 50%;
  overflow: hidden;
}

/* === BACKGROUND ELEMENTS === */
.relative {
  position: relative;
}

.bg-elem,
.background-element {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
}

/* === BACKGROUND COLORS === */
.bg-white,
.background-white {
  background-color: #ffffff;
}

.bg-off-white,
.background-off-white {
  background-color: #f8f8f8;
}

.bg-gray,
.background-gray {
  background-color: #808080;
}

.bg-off-black,
.background-off-black {
  background-color: #202020;
}

.bg-dark,
.background-dark {
  background-color: #201E31;
}

.bg-primary,
.background-primary {
  background-color: #637BA9;
}

.bg-light,
.background-light {
  background-color: #B8C8CA;
}

.bg-accent,
.background-accent {
  background-color: #FF7F6C;
}

.bg-alt,
.background-alt {
  background-color: #FF824B;
}

/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| UTILITY: Extention
|––––––––––––––––––––––––––––––––––––––––––––––––––
|
| For when you want a box to continue outside its parent
|
*/
/* === for parent === */
.extend-top {
  position: relative;
}
.extend-top::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: unset;
  left: 0;
  transform: translateY(100%);
  content: "";
}

.extend-right {
  position: relative;
}
.extend-right::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: unset;
  transform: translateX(100%);
  content: "";
}

.extend-bottom {
  position: relative;
}
.extend-bottom::before {
  position: absolute;
  top: unset;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateY(-100%);
  content: "";
}

.extend-left {
  position: relative;
}
.extend-left::before {
  position: absolute;
  top: 0;
  right: unset;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  content: "";
}

/* === for child === */
.put-top {
  position: absolute;
  top: 0;
  bottom: unset;
  transform: translateY(100%);
}

.put-right {
  position: absolute;
  right: 0;
  left: unset;
  transform: translateX(100%);
}

.put-bottom {
  position: absolute;
  top: unset;
  bottom: 0;
  transform: translateY(-100%);
}

.put-left {
  position: absolute;
  right: unset;
  left: 0;
  transform: translateX(-100%);
}
/*# sourceMappingURL=boilerplate.css.map*/