<footer id="footer">

	<div class="wrapper relative" style="z-index: 1;">
		<a class="scroll-to-top" href="#site">
			{{ theme:output src="svg/icon-arrow-up.svg" }}
		</a> <!-- END scroll-to-top -->
	</div>

	<div class="footer gutter trim">
		<div class="footer__inner wrapper">

			<nav class="nav footer__nav">
			{{ nav }}
	
				<a class="link nav__link" href="{{ url }}">{{ title }}</a>
				
			{{ /nav }}
			</nav> <!-- END footer-nav -->
			
			<address class="inline-list inline-list--pipline geo-text mar-t">
				<a class="inline-list__item" href="{{ global:google_maps_url }}">
					{{ global:address:city }} &middot; {{ global:address:state }}
				</a>
				<a class="inline-list__item" href="tel:{{ global:phone }}">
					{{ global:phone }}
				</a>
				<a class="inline-list__item" href="mailto:{{ global:email }}">
					{{ global:email }}
				</a>
			</address> <!-- END site-info -->
	
			<div class="copyright geo-text mar-t">
				<span>Copyright &copy; {{ date format="Y" }} {{ global:title }}.&nbsp;</span>
				<span>All Rights Reserved.&nbsp;</span>
				<span>
					<a 
						href="http://statebuilt.com" 
						target="_blank" 
						title="Made with Love in Austin, TX. Website Built by State.">
						Site by State
					</a>.
				</span>
			</div> <!-- END copyright -->
	
		</div> <!-- END inner-footer -->
	</div>
    
</footer> <!-- END #footer -->