<section {{ if section_id }}id="{{ section_id }}" {{ /if }}
		 class="frame {{ desktop_space }} {{ mobile_space }} trim gutter outer 
		        full-row {{ background_color }} {{ classes }}">
	<div class="wrapper">

	{{ blocks }}
		
		{{ partial src="blocks/_{type}" }}

	{{ /blocks }}

	</div>
</section> <!-- END full_section -->