<section {{ if section_id }}id="{{ section_id }}" {{ /if }}
		 class="frame {{ desktop_space }} {{ mobile_space }} outer 
				half-row {{ column_on_top }} {{ classes }}">

	<div class="half-row__column-left">
	{{ column_left }}

		<div class="trim gutter {{ space_above }} 
					half-row__block {{ type }}__block {{ classes }}">
			<div class="gutter half-row__wrap {{ type }}__wrap">
			{{ partial src="blocks/_{type}" }}
			</div>
		</div>

	{{ /column_left }}
	</div>

	<div class="half-row__column-right">
	{{ column_right }}

		<div class="trim gutter {{ space_above }} 
					half-row__block {{ type }}__block {{ classes }}">
			<div class="gutter half-row__wrap {{ type }}__wrap">
			{{ partial src="blocks/_{type}" }}
			</div>
		</div>

	{{ /column_right }}
	</div>

</section> <!-- END half_section -->