<section {{ if section_id }}id="{{ section_id }}" {{ /if }}
		 class="frame {{ desktop_space }} {{ mobile_space }} outer offset-row {{ background_color }} {{ classes }}">

	<div class="column-main">
	{{ column_main }}

		<div class="trim gutter {{ space_above }} offset-block {{ type }}__block {{ classes }}">
			<div class="gutter offset-inner {{ type }}_inner">
			{{ partial src="blocks/_{type}" }}
			</div>
		</div>

	{{ /column_main }}
	</div>

	<div class="column-aside">
	{{ column_aside }}

		<div class="trim gutter {{ space_above }} offset-block {{ type }}__block {{ classes }}">
			<div class="gutter offset-inner {{ type }}_inner">
			{{ partial src="blocks/_{type}" }}
			</div>
		</div>

	{{ /column_aside }}
	</div>

</section> <!-- END split_section -->