<section {{ if section_id }}id="{{ section_id }}"{{ /if }} class="{{ block_type }} bg-dark {{ classes }}" style="overflow: hidden;">

    <div class="wrapper">
        <rotator-testimonials list="{{ testimonials | to_json | sanitize }}" />
    </div>

</section> <!-- END split_section -->