<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{{ global:description }}">
		<title>{{ global:name }} | {{ error_code or title }}</title>
		<link rel="shortcut icon" href="{{ global:favicon }}" type="image/x-icon" />
		<link rel="stylesheet" href="/css/site.css">
	</head>

	<body class="{{ template or 'main' }}-layout nav-closed modal-closed">

		<div id="site">
			{{ partial src="headers/_header" }}

			<main id="container">
				{{ template_content }}
			</main> <!-- END #container -->
	
			{{ partial src="footers/_footer" }}
		</div> <!-- END Vue App -->

		<script src="/js/site.js"></script>

	</body>

</html>
