{{ partial src="hero/default" }}

<section class="frame gutter">
	<div class="wrapper ">
		<h3 class="text-center">Button Types</h3>

		<div class="mar-t flex-row">
			<div class="w-50 text-right">
				<button class="mar-r-1 btn">Normal</button>
			</div>
			<div class="w-50 text-left">
				<button class="mar-l-1 btn btn--border">Border</button>
			</div>
		</div>
		
		<div class="mar-t flex-row">
			<div class="w-50 text-right">
				<button class="mar-r-1 btn btn--rounded">Normal Rounded</button>
			</div>
			<div class="w-50 text-left">
				<button class="mar-l-1 btn btn--border btn--rounded">Border Rounded</button>
			</div>
		</div>
		
		<div class="mar-t flex-row">
			<div class="w-50 text-right">
				<button class="mar-r-1 btn btn--pill">Normal Pill</button>
			</div>
			<div class="w-50 text-left">
				<button class="mar-l-1 btn btn--border btn--pill">Border Pill</button>
			</div>
		</div>

		<div class="mar-t flex-row">
			<div class="w-50 text-right">
				<button class="mar-r-1 btn btn--slim">Normal Slim</button>
			</div>
			<div class="w-50 text-left">
				<button class="mar-l-1 btn btn--slim btn--border">Border Slim</button>
			</div>
		</div>
		
		<div class="mar-t flex-row">
			<div class="w-50 text-right">
				<button class="mar-r-1 btn btn--slim btn--rounded">Normal Slim Rounded</button>
			</div>
			<div class="w-50 text-left">
				<button class="mar-l-1 btn btn--slim btn--border btn--rounded">Border Slim Rounded</button>
			</div>
		</div>
		
		<div class="mar-t flex-row">
			<div class="w-50 text-right">
				<button class="mar-r-1 btn btn--slim btn--pill">Normal Slim Pill</button>
			</div>
			<div class="w-50 text-left">
				<button class="mar-l-1 btn btn--slim btn--border btn--pill">Border Slim Pill</button>
			</div>
		</div>

	</div>
</section> <!-- END Button Types -->