{{ partial src="hero/default" }}

<section class="frame gutter">
	<div class="inner">
		<form>
			<input 
				type="text" 
				name="text" 
				placeholder="text"
			/>
			<br/>
			<input 
				type="url" 
				name="url" 
				placeholder="url"
			/>
			<br/>
			<input 
				type="email" 
				name="email" 
				placeholder="email"
			/>
			<br/>
			<input 
				type="password" 
				name="password" 
				placeholder="password"
			/>
			<br/>
			<input 
				type="number" 
				name="number" 
				placeholder="number"
			/>
			<br/>
			<input 
				type="tel" 
				name="tel" 
				placeholder="tel"
			/>
			<br/>
			<textarea></textarea>
			<br/>
			<button type="submit">Submit</button>
		</form>
	</div>
</section>

<hr/>

<section class="frame gutter">
	<div class="inner">
		<form>
			<select name="select" onChange={this.onChange}>
				<option value="option1">Option 1</option>
				<option value="option2">Option 2</option>
				<option value="option3">Option 3</option>
				<option value="option4">Option 4</option>
			</select>
			<br/>
			<label htmlFor="checkbox">
				<input
					id="checkbox"
					name="checkbox"
					label="Checkbox"
					type="checkbox" />
				<span class="mar-l-2">Checkbox</span>
			</label>
			<br/>
			<fieldset>
				<legend>Radio</legend>
				<label htmlFor="radio1">
					<input
						id="radio1"
						name="radio"
						label="Radio 1"
						type="radio" />
					<span class="mar-l-2">Radio 1</span>
				</label>
				<br/>
				<label htmlFor="radio2">
					<input
						id="radio2"
						name="radio"
						label="Radio 2"
						type="radio" />
					<span class="mar-l-2">Radio 2</span>
				</label>
				<br/>
				<label htmlFor="radio3">
					<input
						id="radio3"
						name="radio"
						label="Radio 3"
						type="radio" />
					<span class="mar-l-2">Radio 3</span>
				</label>
			</fieldset>
			<br/>
			<input
				name="range"
				label="Range"
				type="range" 
			/>
			<br/>
			<button type="submit">Submit</button>
		</form>
	</div>
</section>

<hr/>

<section class="frame gutter">
	<div class="inner">
		<form>
			<input
				placeholder="file"
				name="file"
				label="file"
				type="file"
			/>
			<br/>
			<input
				placeholder="color"
				name="color"
				label="color"
				type="color"
			/>
			<br/>
			<button type="submit">Submit</button>
		</form>
	</div>
</section>

<hr/>

<section class="frame gutter">
	<div class="inner">
		<form>
			<input
				placeholder="date"
				name="date"
				label="date"
				type="date"
			/>
			<br/>
			<input
				placeholder="time"
				name="time"
				label="time"
				type="time"
			/>
			<br/>
			<button type="submit">Submit</button>
		</form>
	</div>
</section>

<hr/>

<section class="frame gutter">
	<div class="inner">
		<form>
			<input
				class="focus-underline"
				placeholder="username" 
				type="text" 
				name="username"
			/>
			<br/>
			<button type="submit">Submit</button>
		</form>
	</div>
</section>