{{ partial src="hero/default" }}

{{ sections }}

	{{ partial src="sections/{type}" }}

{{ /sections }}

<section class="frame gutter">
	<div class="wrapper">

		<div class="auto-wrap">
			<a class="auto-wrap__item btn" href="/{{ slug }}/typography">
				typography
			</a>
			<a class="auto-wrap__item btn" href="/{{ slug }}/buttons">
				buttons
			</a>
			<a class="auto-wrap__item btn" href="/{{ slug }}/inputs">
				inputs
			</a>
			<a class="auto-wrap__item btn" href="/{{ slug }}/accordion">
				accordion
			</a>
		</div>

	</div>
</section> <!-- END Testing Vue Modal -->

<section class="frame gutter">
	<div class="wrapper text-center">
		<h3 class="mar-b">Vue Modal</h3>

		<div class="mar-t">
			{{ partial src="modal/wrapper" modal_content="Vue Modal 01" }}
		</div>
		
		<div class="mar-t">
			{{ partial src="modal/wrapper" modal_content="Vue Modal 02" }}
		</div>
		
		<div class="mar-t">
			{{ partial src="modal/wrapper" modal_content="Vue Modal 03" }}
		</div>

	</div>
</section> <!-- END Testing Vue Modal -->