<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{{ site_description }}">
		<title>{{ site_title }} | {{ error_code or title }}</title>
		<link rel="shortcut icon" href="{{ icon }}" type="image/x-icon" />
		<link rel="stylesheet" href="{{ theme:css }}">
	</head>

	<body class="{{ template or "default" }}-layout nav-closed modal-closed">

		<div id="app">
			{{ partial src="header/default" }}

			<main id="container">
				{{ template_content }}
			</main> <!-- END #container -->
	
			{{ partial src="footer/default" }}
		</div> <!-- END Vue App -->

		<script src="{{ theme:js }}"></script>

	</body>

</html>
