<footer id="footer" class="site-footer gutter trim">

	<div class="outer relative">
		<a class="scroll-to-top" href="#app">
			{{ theme:output src="img/svg/icon-arrow-up.svg" }}
		</a> <!-- END scroll-to-top -->
	</div>

    <div class="inner-footer outer">

		<nav class="site-nav site-footer-nav">
		{{ nav from="/"}}

			<a href="{{ url }}">{{ title }}</a>
			
		{{ /nav }}
		</nav> <!-- END footer-nav -->
		
		<address class="info-line inline-list inline-list--pipline geo-text mar-t">
			<a class="inline-list__item" href="{{ site_google_maps_url }}">
				{{ site_city }} &middot; {{ site_state }}
			</a>
			<a class="inline-list__item" href="tel:{{ site_phone }}">
				{{ site_phone }}
			</a>
			<a class="inline-list__item" href="mailto:{{ site_email }}">
				{{ obfuscate }}{{ site_email }}{{ /obfuscate }}
			</a>
		</address> <!-- END site-info -->

		<div class="copyright geo-text mar-t">
			<span>Copyright &copy; {{ date format="Y" }} {{ site_title }}.&nbsp;</span>
			<span>All Rights Reserved.&nbsp;</span>
			<span>
				<a 
					href="http://statebuilt.com" 
					target="_blank" 
					title="Made with Love in Austin, TX. Website Built by State.">
					Site by State
				</a>.
			</span>
		</div> <!-- END copyright -->

	</div> <!-- END inner-footer -->
</footer> <!-- END #footer -->